[2015-01-27 17:10] nolanlawson opened #2 "Test against PouchDB Server"
because now we can: https://github.com/pouchdb/express-pouchdb/pull/197

[2015-01-27 19:45] fiatjaf opened #3 "http://nolanlawson.github.io/pouchdb-find/ is crashing at Chromium 39"
It loads, shows an editor and then gives me a "Aw, Snap!"

[2015-01-27 19:50] nolanlawson commented on #3
Cannot reproduce... did you try any other versions of Chrome?

[2015-01-27 20:08] fiatjaf commented on #3
Works well on Chrome 37.

Well, don't bother, this computer is buggy anyway.

[2015-01-27 20:47] nolanlawson commented on #3
OK, let's hope it was an isolated incident. :)

[2015-01-27 20:47] #3 closed

[2015-02-02 03:25] nolanlawson opened #4 "Implement $and"
This is gonna be a doozy.

[2015-02-09 10:38] mikkokam opened #5 "README.md - creating index as adviced results in an error"
Probably missing top level object **index** ?

Is:

    db.createIndex({
      name: 'myindex',
      fields: ['foo', 'bar'],
      type: 'json'
    }).then(function (result) {

Maybe should be something like this?

    db.createIndex({
        index: {
            name: 'myindex',
            fields: ['foo', 'bar'],
            type: 'json'
        }
    }).then(function () {

[2015-02-09 13:23] nolanlawson commented on #5
yup, readme bug

[2015-02-09 16:21] nolanlawson commented on #5
fixed, thanks!

[2015-02-09 16:21] #5 closed

[2015-02-16 03:54] nolanlawson commented on #4
https://github.com/nolanlawson/pouchdb-find/commit/01558b406c2d3c8f023b756d7a009e25f3606a42

[2015-02-16 03:54] #4 closed

[2015-02-16 03:54] nolanlawson opened #7 "Implement $ne"

[2015-02-16 04:44] nolanlawson commented on #7
a736940958334e695edb1a5a2c7345d107b8d33f

[2015-02-16 22:04] #7 closed

[2015-02-21 21:36] zeroware opened #13 "db.createIndex return value"
I'm calling createIndex like it's documented but the return value is just an empty object and not a promise.

[code]

[2015-02-21 21:40] nolanlawson commented on #13
Yep, the return value is a Promise. What you're looking for is the `result`, not the `indexResult`. Read this guide if you're not sure about promises: http://pouchdb.com/guides/async-code.html

[2015-02-21 21:40] #13 closed

[2015-02-21 21:44] nolanlawson commented on #13
Also, depending on the browser, when you try to log a Promise, it may look like `{}` instead of a Promise object.

[2015-02-23 15:25] nolanlawson opened #16 "Test against CouchDB master"
They merged Mango recently.

[2015-03-22 14:55] chandu0101 opened #19 "add total_rows to response of find API"
haha sorry mate , i need this one again in find :) , could you please throw some pointers ..

[2015-03-22 16:10] nolanlawson commented on #19
I don't believe that find() implements it. The goal is to reproduce the Cloudant query language exactly, so if they don't support it, it's a no-go for pouchdb-find..  They might have something similar though.

[2015-03-22 16:12] chandu0101 commented on #19
oh no! , what about pagination :s

[2015-03-22 16:54] nolanlawson commented on #19
Weird, I don't see anything in their API to support anything even remotely similar (e.g. `$count`). Maybe we should open up an issue on the CouchDB JIRA to start discussing this.

[2015-03-23 14:54] chandu0101 commented on #19
created an issue https://issues.apache.org/jira/browse/COUCHDB-2644

[2015-03-27 11:37] yungchin opened #20 "odd interaction between $lt and sort 'desc'"
Running this slightly modified example on the playground at https://nolanlawson.github.io/pouchdb-find/ turns up an empty result:

[code]

The problem goes away when changing the sort order to 'asc', or swapping the $lt for a $gt or even a $lte.

Thanks!

[2015-03-31 09:10] tmld opened #21 "Is there an equivalent of multiple emits?"
Hi there,

I had a play around and couldn't figure out how to achieve the equivalent of multiple emits using this plugin. Is there:
    a) A way to emit multiple values per document when creating an index, or
    b) A way to utilise existing PouchDB views when searching?

I'd like to be able to filter based on array values within the documents. For example, below (using the PouchDB query api) I ca

[2015-04-04 06:45] akircher commented on #21
I am glad you asked that @tmld, I am wondering the same thing. The only thing I could do currently was search one at a time e.g., `db.find({selector:'movies.stars.0'})`

Is this functionality in the cloudant spec?  I sure hope so!!!

[2015-04-05 01:10] nolanlawson commented on #21
Yes, it's the `$in` operator, which is not implemented yet

[2015-04-05 10:07] akircher commented on #21
Ok so in the example above you could search for Al Pacino with db.find({selector: {'movies':{$in:'stars'}}})?  How would you search for `Al` if the data was ```stars = [{first:'Al', last:'Pacino'}, {first:'Marlon', last:'Brando'}]```?

[2015-04-06 15:24] nolanlawson commented on #21
Don't think you can, in that case.

[2015-04-07 03:51] tmld commented on #21
Great, thanks @nolanlawson.

[2015-04-09 08:56] akircher commented on #21
Wait I think it might be premature to close.  If this new API will eventually wholly replace Map/Reduce doesn't there have to be a way to search an array the objects such as [{first:'Al', last:'Pacino'}, {first:'Marlon', last:'Brando'}].  This data structure is very common.

Maybe the dot notations can solve this problem?  Not sure if the spec allows it, but can it be made to implicitly search arr

[2015-04-09 09:19] tmld commented on #21
Ok I've re-opened it.

I think what you are looking for will be covered by $elemMatch  when it is implemented, but we can leave this issue open until it's agreed if your use case will be met.

If I understand correctly, you should be able to do the following:
<pre><code>db.find({
	selector: {
		stars: {
			$elemMatch: {
				first: 'Al',
				last:'Pacino'
			}
		}
	}
});
</code></pre>

[2015-04-09 11:51] akircher commented on #21
That's what I was looking for.  Thanks @tmld

[2015-04-09 11:53] nolanlawson commented on #21
Also FWIW there will still be some things you can do with map/reduce that you cannot do with pouchdb-find. Map/reduce is super flexible in that you can basically run whatever JavaScript you want, so there will definitely be cases where pouchdb-find won't have an equivalent.

[2015-04-11 13:47] arnoutaertgeerts opened #27 "Order of index fields matter when using sort"
I noticed the following strange behavior while trying out the plugin and the `find()` method in combination with a `sort` option.

The following code works:

[code]

But when I change the order of the index (after deleting the previously created design doc) from `['date', 'type']` to `['type', 'date']`:

[code]

I get the following error message: `Error: couldn't find a usable index. try creating

[2015-04-11 14:27] nolanlawson commented on #27
Yep, this is by design. If you sort on `a`, then the index needs to be `a` or `a,b`, not `b,a`. Cloudant Query Language does this as well, so I'm just following their lead.

[2015-04-11 15:48] arnoutaertgeerts commented on #27
ok, thanks!

[2015-04-11 15:48] #27 closed

[2015-04-23 12:19] francescoagati commented on #19
Hi,
i think that the time for processing the issue is very slow. Isn't possible expose this fields only for the local's query?

[2015-04-26 05:57] cdaringe opened #30 "TypeError: Cannot use 'in' operator to search for '$ne' in 123"
Hello:

in `pouchdb-find/lib/adapters/local/utils.js` in messageSelector

[code]

I receive the above error.  matcher is an integer in this case, 123--and it barks.  Tips?  Thanks!

[2015-04-26 12:04] nolanlawson commented on #30
Can you provide your code that caused the error?

[2015-04-26 15:40] cdaringe commented on #30
[code]

[2015-04-26 18:23] nolanlawson commented on #30
Oh yeah, my bad. That's a bad bug.

[2015-04-29 19:05] chrisschaub opened #32 "Multiple selectors"
Is there a way to specify multiple selectors?

[2015-04-29 19:10] nolanlawson commented on #32
You mean an ANDed query? Yes.

[2015-04-29 19:23] nolanlawson commented on #32
Here are some examples: https://github.com/nolanlawson/pouchdb-find#examples

Let me know if that helps!

[2015-04-29 19:24] nolanlawson commented on #30
fixed by b180b6fd904cc00b9ce9420d1cef33f827856766 and released in the latest version

[2015-04-29 19:24] #30 closed

[2015-04-29 19:33] chrisschaub commented on #32
Thanks!! Totally missed that.

On Wed, Apr 29, 2015 at 2:23 PM, Nolan Lawson <notifications@github.com>
wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-04-29 19:41] cdaringe commented on #30
:+1: !  when i first saw that `pouch.query` was moving to a plugin, I grumbled a bit, but in retrospect, i think this is a much cleaner interface!  much appreciated!

[2015-04-29 19:46] nolanlawson commented on #30
glad ya like it :)

[2015-05-04 12:39] nolanlawson opened #35 "Non-contributors get test failures in Travis"
This is the weirdest bug. An example failure is [here](https://travis-ci.org/nolanlawson/pouchdb-find/jobs/61137867). The error I end up seeing is:

[code]

I think this is the error you'd see if we only had access to CouchDB, not to Cloudant. So I guess the problem is that Travis can only use the "secure" vars if it's a collaborator submitting the PR?

@daleharvey do you have any hunches about th

[2015-05-04 13:19] daleharvey commented on #35
Yeh thats exactly right, only contributors have access to secure vars (otherwise a random person can just echo $VAR) to expose them. We avoid running the tests that use secure vars in pouch

[2015-05-04 13:25] nolanlawson commented on #35
Crap, I was worried about that. I guess the real solution will be to start building couch-master, now that mango is merged :stuck_out_tongue:

[2015-05-16 08:56] astutesoftware opened #36 "Support for full text search"
Has text search already ?
for ex. "%mario%" or "*mario*"

[2015-05-16 09:00] astutesoftware commented on #36
found the full text engine plugin.
sorry.

[2015-05-16 09:00] #36 closed

[2015-05-16 17:06] viskin opened #37 "gh-pages uses old version"
Please merge master to gh-pages (uses 0.3.2), as latest version (0.3.4) seems to fix serious bugs.
I played with http://nolanlawson.github.io/pouchdb-find page, and run into bugs that
definitely weren't happening in code that I write. Took few minutes to understand that versions
are different, and 0.3.4 is much more stable.
Great stuff, btw.

[2015-05-16 20:15] nolanlawson commented on #37
sorry, my bad. I'll update the gh-pages branch!

[2015-05-16 20:15] #37 closed

[2015-05-18 20:35] standup75 commented on #19
+1

[2015-05-28 14:56] wujitouch opened #38 "$gt selector doesn't work correctly with dates"
I'm not sure if I have it set up wrong or what but when the $gt selector doesn't seem to work with dates.

Data:
{
    docType: 'log',
    logDate: 1432823742926
}

Query:
var start = (new Date()).getTime();
db.find({
    selector: { docType: 'log', startTime: { $gt: start } }
});

The above query doesn't returns no results with correct values for start and logDate. I also tried this without using

[2015-05-28 14:59] nolanlawson commented on #38
Can you provide a live test case? Just makes it easier to confirm what's going on. A JSBin or even just a Node script would be fine. :)

[2015-05-28 15:36] wujitouch commented on #38
Hi Nolan, thanks for the quick response. I created a plunker here, just in case you didn't see the edit:
http://plnkr.co/edit/FU3SFp3E30ZTOElTbNSU

[2015-05-28 16:10] wujitouch commented on #38
I just noticed that $gte doesn't work either when combined with $lt or $lte. It seems like it completely ignores $gt/$gte

[2015-06-02 08:56] ivandroid commented on #32
Does the $and operator work on same fields? E.g. I would like to select docs having names 'Mario' and 'F-Zero'.

[2015-06-02 09:26] ivandroid commented on #32
What abaout the $or operator? I would like to get documents with series 'Mario' or 'F-Zero'. How can I do this? Many thanks!

[2015-06-02 09:28] ivandroid commented on #32
What about the $or operator? I would like to get documents with series 'Mario' or 'F-Zero'. How can I do this? Many thanks!

[2015-06-02 09:29] ivandroid opened #39 "$or operator?"
What about the $or operator? I would like to get documents with series 'Mario' or 'F-Zero'. How can I do this? Many thanks!

P.S.: Maybe this functionality will be integrated in the coming $in operator. When can we expect this functionality?

[2015-06-03 02:09] nolanlawson commented on #39
Not implemented yet. :) In the meantime you can run two separate queries.

[2015-06-03 02:09] #32 closed

[2015-06-04 18:34] wujitouch commented on #38
Hi Nolan,

I'm sure you're very busy but have you had a chance to look at my plunk?

Thanks

[2015-06-04 19:39] nolanlawson commented on #38
Sorry, I looked at it just now.

[code]

You cannot save Dates in PouchDB. IndexedDB will save the dates for you without emitting a warning, but it is a lie because the other adapters (and CouchDB) cannot, and unexpected things will happen when you do so.

You need to do:

[code]

[2015-06-04 20:13] wujitouch commented on #38
Thanks for taking a look. I changed everything to use only strings and $gt and $gte still don't work correctly. See the updated plunk please. You can see the output in the console. I'm using Firefox, if that matters.

In the console, these two queries show something's wrong:

"-- querying docs logDate > 2015-05-25T00:00:00.000Z"
""
"-- querying docs logDate >= 2015-05-25T00:00:00.000Z and <= 2015-

[2015-06-04 21:08] nolanlawson commented on #38
Okay, it does indeed look like a bug. I am very busy right now and will probably not be able to get to it for several weeks at the maximum.

If you would like to contribute the fix, you just need to write a test and fix it. :) The tests are described in [CONTRIBUTING.md](https://github.com/nolanlawson/pouchdb-find/blob/master/CONTRIBUTING.md) and are pretty easy to set up. Basically just check out

[2015-06-12 11:57] microadam opened #40 "Arrays and $eq"
Hello,

Should I be able to do something like the below?

I would expect a query like:

[code]

to find a record which looks like:

[code]

Should this work? Or am I supposed to do it another way? It doesn't throw any errors, so I am assuming it should work.

Thanks!

[2015-06-12 15:40] nolanlawson commented on #40
That's the `$elemMatch` selector, which is not implemented yet.

[2015-06-14 16:12] nozelrosario opened #41 ""$lt" isnt working."
i am using following selector. ["datetime" has a long date value i.e [1434054660000] , "patientID" has a int value i.e.[1] ]

[code]

But for some reason it does not seem to work.
Results are empty Array[0], even when i have records matching the query.
No Error is looged in colsole.

Following is the Input for Query Plan creation that is logged :

[code]

Following is the Query Plan that is printe

[2015-06-14 19:28] nolanlawson commented on #41
Suspecting this is a duplicate of #38.

[2015-06-14 20:39] nolanlawson opened #42 "Tests broken due to Cloudant changing output of createIndex"
It has more information now, which is probably a good thing.

[2015-06-14 21:25] nolanlawson commented on #42
fixed

[2015-06-14 21:25] #42 closed

[2015-06-14 21:27] nolanlawson commented on #41
What does your index look like? Need more information in order to reproduce this.

[2015-06-14 21:38] nolanlawson commented on #38
fixed by https://github.com/nolanlawson/pouchdb-find/pull/44

[2015-06-14 21:38] #38 closed

[2015-06-15 03:26] nolanlawson commented on #38
fixed in 0.3.5

[2015-06-19 16:23] yattias opened #46 "query vs find for reducing a data set"
Hi Nolan,

I recently stated using you plugin which is awesome.

In the docs you mention that ``pouch.query`` will be replaced with this plugin which leads me to the following question:

In pouchdb, it is possible to use design docs with indexes to efficiently reduce a data set as your wrote in [this post](http://pouchdb.com/2014/05/01/secondary-indexes-have-landed-in-pouchdb.html). How would I ac

[2015-06-19 19:23] nolanlawson commented on #46
Your `tags` example will be possible to do efficiently in `pouchdb-find` using the `$elemMatch` matcher, but it hasn't been implemented yet. :( So you'll have to use `query()` for now.

[2015-06-19 21:47] yattias commented on #46
:( :(

That's alright! Thanks.
I have a couple of months before I go to production so in the meantime I may not use indexes and check back on future releases.

[2015-06-23 04:21] roblav96 opened #47 "'Refer header required'"
{ [bad_request: Something wrong with the request]
  status: 400,
  name: 'bad_request',
  message: 'Something wrong with the request',
  error: true,
  reason: 'Referer header required.' }

I get that error after installing this plugin.

Tried updating node, puchdb, everything, etc. and still this error. Normal requests work fine.

[2015-06-27 04:35] roblav96 commented on #47
can anyone help?

im using express as a restful API. and a fresh install ubuntu 14.04 and couchdb 1.6.1

========================================
{ email: 'lol@gmx.com',
  password: 'cumonnow',
  _id: 'lol' }
  pouchdb:api http://admin:admin@localhost:5984/report_users +1ms request { method: 'POST',
  url: '_find',
  body:
   { selector: { email: 'lol@gmx.com' },
     fields: [ '_id', 'email' ] }

[2015-06-27 14:18] roblav96 commented on #47
It seems as though I can't save/create a design doc with node-cradle either.

Is there a way to inject a dummy referer header into every request somehow? Someone please help :(

[2015-06-28 12:15] darkyen opened #48 "LocalStorage makes multiple indexes"
.createIndex always creates a new index when using localstorage on chrome, never returns the exists state.
(for some reason it has 168 indices with google chrome)

[2015-07-03 23:58] moQuez commented on #19
Apparently there is a fix already: https://github.com/apache/couchdb-mango/pull/6

[2015-07-08 17:03] JDqv opened #49 "find api and attachments"
Is there any way to retrieve find results with attachments included?
Its not even clear for me how and if cloundant API does that.

[2015-07-12 22:55] nolanlawson commented on #49
That's a very good question. I think the answer might, disappointingly, be no. If so, though, that is a really annoying limitation.

For the record, though, you can still use `getAttachment` like you normally would, and it's actually just as efficient as it would be if I added the functionality to this plugin somehow. It's just more code for you to have to write, which is a bummer.

[2015-07-12 22:56] nolanlawson commented on #49
@rnewson @kocolosk Are there any plans to add an `attachments=true` to the Mango API?

[2015-07-12 22:56] nolanlawson commented on #19
Oh sweet. Looks like I can implement it now. :)

[2015-07-12 23:25] nolanlawson commented on #48
Ah yeah, I don't think I dedup unless you pass in a name. Good bug.

[2015-07-12 23:26] nolanlawson commented on #47
This plugin does not work with CouchDB, only with Cloudant. If you try it against CouchDB you will see a weird error about "referer header required."

[2015-07-12 23:26] #47 closed

[2015-07-16 23:20] cdaringe opened #50 "Creating an index in pouch that is synced to couch throws error"
The problem statement is fairly straightforward.  I have `replicate` setup and call a `db.createIndex(...)` call, which results in the following:
CustomPouchError
[code]

[2015-07-16 23:56] cdaringe commented on #50
i ended up setting a spoofed header of `'http://localhost:5984'`, but now it comes back with:
[code]

[2015-07-18 18:23] nolanlawson commented on #50
I believe this issue is that you are using a database that does not support Cloudant-style queries (e.g. CouchDB 1.x).

[2015-07-18 18:23] #50 closed

[2015-07-18 22:51] cdaringe commented on #50
@nolanlawson, you are correct, i am on couch 1.6.  we selected it exclusively because i'm a raving pouch fan :) .  do you have any personal recommendations that will still exploit all the great pouch sync-ability?  much appreciated!

[2015-07-19 03:44] nolanlawson commented on #50
You can build CouchDB master from source (it's quite stable; passing our tests), or wait for 2.0 to be released. :)

[2015-07-19 03:45] nolanlawson commented on #50
Oh, or you could use PouchDB Server.

[2015-07-20 17:04] cdaringe commented on #50
cool. good to know couch 2.x is coming along!  ill [give it a shot](http://docs.couchdb.org/en/latest/install/mac.html).  thanks for the tips, as always!

[2015-07-25 11:58] viskin opened #51 "AMD support"
Please add explanation to README for usage with AMD (requirejs).
If AMD is currently not supported, if would be nice to add support for it.

[2015-07-25 15:35] nolanlawson commented on #51
Yeah, I've made a point of not supporting AMD for all my pouchdb plugins because it would simply be too much work. There are instructions for AMDifying here, and I would accept a PR on the README! :)

https://github.com/nolanlawson/pouchdb-all-dbs/issues/12#issuecomment-64114074

[2015-07-25 15:35] #51 closed

[2015-07-27 11:14] viskin commented on #51
I [forked the pouchdb-find](https://github.com/viskin/pouchdb-find/tree/amd-support) and modified the build there with *browserify --standalone*.
I registered the branch with bower, so everyone interested in AMD version of pouchdb-find can use:

      bower install pouchdb-find-amd#amd-support

FYI

[2015-08-02 00:52] akircher opened #52 "Dynamic Key"
Hi Nolan,

Thanks again for the awesome work on PouchDB and various plugins.  I have a question, I am trying to migrate my map/reduces to `find()` and I am having trouble finding objects with dynamic keys.

For example
[code]

I can't create an index on each dynamic key because there are thousands of them.  Rightfully the below asks for an index
[code]
The following does not, but fails with an err

[2015-08-02 13:24] nolanlawson commented on #52
Dynamic keys ought to be possible (the "fails with an error" you mention sounds like a bug), but since you'd have to create an index for every possible dynamic key, I think it would be terribly inefficient in pouchb-find.

Your best bet, in my opinion, would be either to use map/reduce (since it's much more flexible than pouchdb-find), or restructure your data so that the keys are not dynamic. Els

[2015-08-15 13:53] WillianPaiva opened #53 "nested $and"
im doing on query with nested $and like this :

[code]

and im getting this error:

**criterion is not a function**

witch comes from this part of the pouchdb-find :

[code]

any help ?

[2015-08-15 14:58] nolanlawson commented on #53
I don't think nested $ands are supported yet.

[2015-09-02 11:58] wishabhilash opened #55 "Not working with pouch-4.0.0???"
Am using Pouchdb-4.0.0 and requirejs.
In require config:
[code]
and...
[code]
Also included it in the define file after pouchdb:
[code]

It throws error:
    db.find is not a function.

What might be wrong in this???

[2015-09-02 12:04] nolanlawson commented on #55
I don't believe pouchdb-find works with requirejs, as is. You can build a browserify standalone build, and that should work: http://wzrd.in/standalone/pouchdb-find@latest

[2015-09-02 12:04] nolanlawson commented on #55
Nothing changed in 4.0.0 that should break pouchdb-find, though.

[2015-09-02 19:51] wishabhilash commented on #55
I tested pouchdb-find with v4 and it works. No problem there. But it would be awesome if it worked with requirejs. Lemme see if I can make it happen. Will ask for a pull request then.

[2015-09-02 19:51] #55 closed

[2015-09-04 17:50] wishabhilash commented on #55
@nolanlawson : Thanks man. Finally I could make it work with requirejs. :)

[2015-09-07 08:57] bendavis78 opened #56 "Multi-field sort doesn't work for mixed asc/desc"
Then given example should sort by series ascending, and within each series should sort by debut year descending. Instead, debut year is ascending.
[code]

[2015-09-07 23:21] nolanlawson commented on #56
Whoops, mistake on my part! I will try to fix soon.

[2015-09-08 05:54] agozie commented on #55
I have been having same problem with using pouchdb-find in web worker. Same db.find is not a function.

[2015-09-08 12:27] nolanlawson commented on #55
@agozie If you're seeing `db.find is not a function` then the plugin hasn't been loaded. Are you sure you called `PouchDB.plugin(pouchdbFind)`, which you must do if you are using RequireJS?

[2015-09-08 18:20] agozie commented on #55
@nolanlawson thanks, I didn't know about `PouchDB.plugin(pouchdbFind)`. It solved my issue.

[2015-09-12 14:09] nolanlawson opened #58 "4.0.2"
Two important things to get in:

- leveldown upgrade, makes npm install way faster
- IE fix for the in-memory adapter, especially so that Hoodie can start testing in IE.

Normally we stick to the once-a-month thing, but in this case I think it's worth it to release a 4.0.2.

[2015-09-12 14:10] nolanlawson commented on #58
Whoops, wrong repo.

[2015-09-12 14:10] #58 closed

[2015-09-21 00:57] chrismbeckett opened #59 "Index with _id?"
Solved.

[2015-09-21 00:58] chrismbeckett commented on #59
Ok, just realized how dumb

[2015-09-21 00:58] #59 closed

[2015-09-28 12:09] niktrix opened #60 "db.find give me this error"
Cannot use 'in' operator to search for 'startkey' in undefined

[2015-09-29 11:09] tomaszliptak opened #61 "Roadmap?"
Do you have any roadmap?
Any date for final release?
Any plans for releasing at least those operators: $in, $or, $not, $elemMatch?
What's the plan for other operators?

[2015-09-30 03:04] nolanlawson commented on #19
fixed by https://github.com/nolanlawson/pouchdb-find/commit/967e98114426bee524e0e1dfa321d73e218ba3b0

[2015-09-30 03:04] #19 closed

[2015-09-30 03:35] nolanlawson commented on #61
No roadmap, because this is a hobby project for me and nobody pays me for it. :) But pull requests are always welcome.

[2015-09-30 03:35] nolanlawson commented on #60
Can you provide a test to reproduce?

[2015-09-30 12:56] garrensmith commented on #16
Closing this since #57 fixes this.

[2015-09-30 12:56] #16 closed

[2015-09-30 12:59] garrensmith commented on #35
I think we can close this, since we testing against couchdb-master?

[2015-09-30 19:39] nolanlawson commented on #35
yep, this is no longer an issue thanks to that :)

[2015-09-30 19:39] #35 closed

[2015-09-30 19:40] nolanlawson opened #62 "Couch master started failing in Travis"
cc @garrensmith. Not sure what changed since your PR was written...

[2015-10-01 08:15] garrensmith commented on #62
I'll take a look and see why.

[2015-10-01 08:56] garrensmith commented on #62
@nolanlawson This is fixed in #63

[2015-10-02 09:53] garrensmith commented on #56
@bendavis78 and @nolanlawson That sort isn't actually possible for Cloudant Query and CouchDB Mango. If you try and run that query on Cloudant or CouchDB master branch you get
`Sorts currently only support a single direction for all fields.`

I'm closing since this is not possible at this stage.

[2015-10-02 09:53] #56 closed

[2015-10-03 19:16] nolanlawson commented on #62
c7d60d23ac69ce117bb7dda265436965b63177c8

[2015-10-03 19:16] #62 closed

[2015-10-06 07:42] #20 closed

[2015-10-08 13:11] garrensmith opened #66 "Query _all_docs index fails with phantomjs/websql"
If I create a selector like this

`
db.find({
  selector: {
   _id: {
         $gt: null
    }
}
});
`

This will return all the docs in the database. It works on Node.js, Firefox and Chrome. But fails with Phantomjs and websql.

[2015-10-08 14:23] garrensmith opened #67 "$exists tests are incorrect"
`$exists` is an in memory filter. Instead of querying like this `selector: {'foo': {'$exists': true}},`.
We actually need to declare an index as well so it needs to be something like this
`selector: {_id" : {"$gt" : null}, 'foo': {'$exists': true}},`.

This is the reason why the Cloudant/CouchDB tests fail.

[2015-10-09 01:01] nolanlawson commented on #67
Yeah, I can't remember why I implemented that differently. :/ Definitely worth fixing.

[2015-10-09 01:04] nolanlawson commented on #66
Weird, wonder if it's a Phantom thing or a WebSQL thing? We could test Safari or Chrome+WebSQL to try to figure out.

[2015-10-09 11:02] garrensmith commented on #67
Cool. I'll take a look at this next week.

[2015-10-13 18:55] Sturgelose opened #73 "Creating index with custom name or ddoc still creates random names"
I'm creating indexes with custom names in order to track if they have to be updated or not.
However, in the response, I still get a random index name and random ddoc.

I'm creating indexes such as:
[code]

And I get a response in the success where result variable is such as:
[code]

I'll try to take a look at the code to see if I can find the issue!

[2015-10-14 00:13] Sturgelose commented on #60
I'm having the same error. To reproduce, you can use:
Index
[code]

[code]

[2015-10-14 08:42] garrensmith commented on #60
@Sturgelose You getting that error because you you haven't created a field that pouchdb-find can actually query against. The `$in` operator is an in memory filter. So first you need to have another field to search  with.

So an example of this is

[code]

The query is then

[code]

I would recommend reading on the condition operators in the [docs](https://docs.cloudant.com/cloudant_query.html)

I'

[2015-10-14 08:42] #60 closed

[2015-10-14 08:43] garrensmith commented on #73
@Sturgelose thats for reporting. Let me know if you need help looking in the code to find the issue. It would be great if you could fix this for us. I'm happy to help you do that.

[2015-10-16 01:10] finchen opened #75 "$and or a problem with index"
Hi.

Thank you for the great plugin.

I have not been able to debug properly yet but maybe you could help.
I have a case working perfectly fine on the browser but not on an android 5 phone.

My document are simple
[code]
`category` can be null

and the index
[code]

the query (1) works fine in chrome
[code]

or  query (2)
[code]

a query (3) on the wrong index and there is an error: index does not

[2015-10-16 07:00] garrensmith commented on #75
Hi @finchen, thanks for the comprehensive error report.

@nolanlawson any idea how we can debug this? I don't know anything about debugging on mobile phones.

[2015-10-16 10:03] martinwoitzik opened #76 "EventEmitter memory leak detected error"
Hi there,

when adding more than 11 keys to get indexed I always get the following error in the console and thus the building of indexes also seem to be cancelled:

(node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit.

Is there a quick-fix that could solve this problem? Don't know if increasing the setMaxListeners limit as

[2015-10-16 13:55] nolanlawson commented on #75
@garrensmith If you have an Android phone, you can plug it in to your USB drive and then in Chrome go to `chrome://inspect`; there are instructions here: https://developers.google.com/web/tools/chrome-devtools/debug/remote-debugging/remote-debugging

Else you will need to start up an Android emulator, for which the steps are similar.

[2015-10-16 13:55] nolanlawson commented on #75
@finchen Which adapter are you using? IndexedDB, WebSQL, SQLite plugin...? Also if you could write a small web page or script to reproduce, it would be fantastic.

[2015-10-16 15:31] Sturgelose commented on #60
Hi @garrensmith ,

I've been taking a look to the documentation and to the code you provided. Still I can't figure out the problem.

As a sidenote: the problem comes with the SectionId, which is an array of strings. If I disable that or I don't use an array, it works properly. If you check again the code I provided, the fields are already created (both sectionId and contentType, which are used in

[2015-10-16 17:32] garrensmith commented on #39
Closing as $or is now in master.

[2015-10-16 17:32] #39 closed

[2015-10-16 17:36] garrensmith commented on #60
@Sturgelose for this to query to work

[code]

You need to create an index like this:

[code]

[2015-10-17 04:35] finchen commented on #75
WebSQL on chrome and SQLlite on android.
It is working fine by removing the sqllite plugin.
Not sure if good or bad news..
At the time I did not see the warning about the sqllite plugin on the pouchdb adapaters documentation page.. I am a bit worry to have based a couple of apps on a 80mb simple database with attachment in it (I know it's not ideal, but since it is supported it is so easy.. and gr

[2015-10-17 09:03] Sturgelose commented on #60
Ok, I found the issue! (Did some debugging in the $in code you created)
Seems that in order to filter by $in, the object inside of the document must be an array. I was trying something strange because I always got the query result empty and didn't know the reason.

I was following the reference provided by MongoDB: http://docs.mongodb.org/manual/reference/operator/query/or/#or-versus-in
Where it s

[2015-10-18 00:00] nolanlawson opened #77 "Friendlier error message for when you misuse $in"
See https://github.com/nolanlawson/pouchdb-find/issues/60 for some background on this.

[2015-10-18 00:00] nolanlawson commented on #60
I think we could have a friendlier error message for this, so I opened another issue: https://github.com/nolanlawson/pouchdb-find/issues/77

[2015-10-18 00:01] nolanlawson commented on #75
That is good news. We are aware that the SQLite Plugin has *tons* of issues mostly due to a buggy implementation, so we don't recommend it anymore. Especially on Android, your code will be both faster and more reliable if you use IndexedDB or WebSQL (take your pick; they're both good on Android).

[2015-10-18 00:01] #75 closed

[2015-10-18 01:45] nolanlawson opened #79 "Move pouchdb-find to the pouchdb org"
I think with the custom builds and @garrensmith's recent fixes, we are increasingly reaching a point where

1. we will release pouchb-find 1.0, and
2. we will include pouchdb-find in pouch core, as a replacement for mapreduce.

To start with, I would like to move this module from `github.com/nolanlawson` to `github.com/pouchdb` and promote @garrensmith to a PouchDB core contributor. Any objections

[2015-10-18 01:46] nolanlawson commented on #79
FWIW this weekend I am pretty serious about fixing pouchb-find bugs and increasing test coverage to 100% instead of messing around with other weird plugins

[2015-10-18 01:52] nolanlawson commented on #60
@Sturgelose would you like to contribute a fix? Seems like you found the place in the code to fix it; I'd really like to encourage other folks to contribute to this repo! :) All you would need is a test and a fix; you can refer to

[2015-10-18 02:03] nolanlawson opened #80 "Accept the callback style"
The docs suggest that we support both the callback and promise format, but I think in practice this lib actually barfs if you try to use callbacks.

We should try to support both. This will be a requirement for when we get merged into PouchDB core.

[2015-10-18 02:36] nolanlawson opened #83 "Increase code coverage to 100%"
This is easy to test:

[code]

Then open up `coverage/lcov-report/index.html` in a browser.

We still have a lot of work to do; we're around 80% right now.

[2015-10-18 10:17] daleharvey commented on #79
Nope those all sounds awesome, thanks so much @garrensmith (kinda thought you were already a committer)

[2015-10-18 11:25] marten-de-vries commented on #79
Sounds great! :)

I'd have preferred to have no query module at all in PouchDB, but with the custom build work that becomes a non-issue: I'm fine with including pouchdb-find as the default.

[2015-10-18 14:23] nickcolley commented on #79
I'm +1 for this, @garrensmith defintely should be a core contributor!

Just a few thoughts in terms of the documentation.

How do we deprecate map/reduce without making it hard for people maintaining older code.

I presume we'll want to keep map/reduce documentation to a minimum promoting find, do we need to version the docs?

[2015-10-18 15:15] nolanlawson commented on #79
@nickcolley Very good question. I think maybe the docs need an overhaul, and as for the docs, I feel like they should all be in one place.

As for mapreduce itself, maybe we should move it back into a separate repo? Or move pouchdb-find into pouch core? Really not sure what the best path is here, since the custom builds make it so trivial for users to include "plugins" that are actually part of Po

[2015-10-18 15:17] nickcolley commented on #79
I think if we moved map/reduce into a space where it's considered a plugin we can put the documentation alongside it. So i'd be for that approach, since it'd be easy to find the docs you need and we wouldnt need to version the core docs.

[2015-10-18 17:32] garrensmith commented on #79
Thanks all for the support, I appreciate it.

I think moving Pouchdb-find into core is a great idea since its a lot easier to understand, specially for beginners. But I do think we need to state when map/reduce would be a better fit.

I'm new to the documentation side of PouchDB. But could we have a plugin's section in the documentation with some of the official supported plugins listed there. We

[2015-10-19 00:50] nolanlawson commented on #76
Increasing the maxListeners is typicaly fine, but it would be nice to know what you're doing just in case there is a deeper issue here? Are you creating/destroying lots of databases, or creating lots of indexes, or something else...?

[2015-10-19 07:18] martinwoitzik commented on #76
I am creating four databases, each with multiple indexes to allow fast search-queries. Where do I have to put the maxListeners setting in the code?

[2015-10-20 00:16] nolanlawson commented on #80
tested and fixed

[2015-10-20 00:16] #80 closed

[2015-10-20 00:16] nolanlawson commented on #83
fixed

[2015-10-20 00:16] #83 closed

[2015-10-20 00:16] nolanlawson commented on #73
fixed

[2015-10-20 00:16] #73 closed

[2015-10-20 00:17] nolanlawson commented on #61
sorry, no roadmap planned

[2015-10-20 00:17] #61 closed

[2015-10-20 00:18] nolanlawson commented on #76
Most likely on the `PouchDB` constructor itself, else the DB. If you're not sure, use https://github.com/nolanlawson/throw-max-listeners-error to find where the error is being thrown. Also check out this: http://pouchdb.com/errors.html#event_emitter_limit

[2015-10-20 08:27] martinwoitzik commented on #76
Thanks! That did the trick... :)

[2015-10-20 08:27] #76 closed

[2015-10-20 10:42] garrensmith commented on #53
I think we can close this. I don't think the mango api supports nested `$and`'s and I'm not sure if it would actually ever be needed.

This:
[code]

Can be converted to

[code]

[2015-10-20 10:44] garrensmith opened #93 "Clean up mergeAndedSelectors"
Currently I'm mashing the `mergeAndedSelectors` function to support combinational selectors. I think this is fine for now but in the future I need to clean up this code and make it a little more elegant. This ticket is to remind me to do that.

[2015-10-20 11:41] garrensmith opened #94 "gte: 'a' returns no docs instead of all docs"
If I create a test like this

[code]

I expect that to return all the docs in the db. But currently it returns zero. If I change the selector to `name: {gte: null}` then it works.

This selector works correctly when testing against couchdb 2.0.

[2015-10-20 12:57] marcelgoya opened #95 "$or operator not working"
I've tried to use the $or operator with the latest build without success. I've compiled from the master branch, so I'm using the latest version. Below the code I've tried:

[code]
and also

[code]

It would be great if you could help me.

Thanks,
Marcel

[2015-10-20 13:25] marcelgoya commented on #95
Error: couldn't find a usable index. try creating an index on: $or
    at createNoIndexFoundError (http://localhost:8100/lib/pouchdb-find/pouchdb.find-0.6.0.js:2077:10)
    at planQuery (http://localhost:8100/lib/pouchdb-find/pouchdb.find-0.6.0.js:2097:11)

[2015-10-20 13:35] marcelgoya commented on #95
I got working. thanks guys

[2015-10-20 15:31] marcelgoya commented on #95
I'm trying the following query but I'm getting an "couldn't find usable index" error message. I would appreciate if you could help me:

[code]

[2015-10-20 15:57] viskin commented on #95
I'm getting same error

[2015-10-20 17:27] garrensmith commented on #95
@marcelgoya this is not a bug with the `$or` operator. Your selector syntax is wrong. You need a field that pouchdb-find can query on __and__ then also an `$or` operator to also help filter. Also you don't need to do nested `$and`.

So without fully knowing your index or documents I would guess something like this:

[code]

[2015-10-20 17:30] garrensmith commented on #95
I'm going to close this since its not a bug in pouchdb-find.

[2015-10-20 17:30] #95 closed

[2015-10-20 17:45] marcelgoya commented on #95
@garrensmith thanks for letting me know. Unfortunately the code you've suggested doesn't work. What I'm trying to do achieve is to get instant message objects where the fields are either (sender = 'abc' && receiver  = 'xyz') OR (receiver = 'abc' && sender = 'xyz'). I have spent a whole day trying to fix this problem. I am using the mongodb syntax but every time I'm running the query I am getting t

[2015-10-20 17:47] garrensmith commented on #95
Could you show what your createIndex looks like.

All misspelling thanks to my iPhone

[2015-10-20 17:50] marcelgoya commented on #95
No prob :) Sure, here it is

[code]

I had to create single indexes for each field because it didn't find the field when I tried to add all fields to a single index.

[2015-10-21 08:40] garrensmith commented on #95
@marcelgoya to get what you want you need to do 2 queries. One where `sender = 'abc' && receiver = 'xyz'` and another where `sender = 'xyz' && receiver = 'abc'`. Your index needs to be ['sender','receiver']

[2015-10-21 09:53] marcelgoya commented on #95
@garrensmith Hi Garren, thanks for letting me know.

[2015-10-24 14:03] nolanlawson commented on #66
fixed: 12ecc0e697d8be57c983c1a63783f7b434010d20

[2015-10-24 14:06] nolanlawson commented on #66
whoops, not actually fixed

[2015-10-24 14:33] nolanlawson commented on #66
OK, actually found a fix. For what it's worth, you can also test this in Safari.

[2015-10-24 15:24] nolanlawson commented on #53
Fair enough, let's close it then. Reducing complexity is good.

[2015-10-24 15:24] #53 closed

[2015-10-26 08:23] garrensmith commented on #60
@Sturgelose this was a bug. $in now works on non-array fields. Thanks for the help.

[2015-10-26 08:24] garrensmith commented on #77
I'm going to close this as the issue was that I hadn't correctly implemented the $in operator.

[2015-10-26 08:24] #77 closed

[2015-10-26 08:25] Sturgelose commented on #60
@garrensmith , @nolanlawson , thanks for the fix :) And sorry if I couldn't do it myself but I've been really busy lately!

[2015-10-27 10:19] #66 closed

[2015-10-27 19:25] johnnason opened #100 "getIndexes error: Object.keys called on non-object"
I've replicated a Cloudant db to a local pouchDB running in node 0.12.2.

I'm now trying to use pouchdb-find to list the indexes in this replicated DB, and get the following error response:

{
  "message": "Object.keys called on non-object",
  "stack": "TypeError: Object.keys called on non-object\n at Function.keys (native)\n at ...node_modules\/pouchdb-find\/lib\/adapters\/local\/get-indexes\/ind

[2015-10-29 02:15] nolanlawson commented on #66
e1ca2e2d18041f05a3d19bce4254f4d7b349ad20

[2015-10-30 01:31] havocdrake opened #102 "Is there a way to use pouchdb-find when directly accessing couchDB, through pouchDB instance."
<pre>
var db = new PouchDB('http://admin:admin@localhost:5984/product');
db.find({
      selector: {
             barcode : barcode,
       }
}).then(function(response){ /*...*/ });
</pre>

[2015-10-30 05:55] garrensmith commented on #102
Yes it works with CouchDB. Just set the PouchDB database url to point to a CouchDB instance and use the PouchDB-find functionality.

All misspelling thanks to my iPhone

[2015-10-30 06:45] garrensmith commented on #102
Closing this since its not an issue.

[2015-10-30 06:45] #102 closed

[2015-11-01 07:20] c941010623 opened #103 "not work in node.js"
i have couchdb 1.6.1 and i install pouchdb in my nodejs
use code:

var PouchDB = require('pouchdb');
PouchDB.plugin(require('pouchdb-find'));
var db = new PouchDB('http://localhost:5984/testdb');

db.find({
    selector: {
        name: 'Mario'
    },
    fields: ['_id', 'name'],
    sort: ['name']
}).then(function (result) {
    console.log(result)
}).catch(function (err) {
    console.log(err)
}

[2015-11-01 09:37] garrensmith commented on #103
What version of Node and PouchDB and PouchDB-find?

All misspelling thanks to my iPhone

[2015-11-02 12:07] c941010623 commented on #103
i only use npm install pouchdb-find and npm install pouchdb
couchdb is 1.6.1

and not use db.find to couchdb ....
but  node.js local is work
why ??

[2015-11-03 06:48] garrensmith commented on #103
CouchDB 1.6 doesn't support query. You need to use CouchDB from the master branch or PouchDB-server

All misspelling thanks to my iPhone

[2015-11-03 13:20] fariasf opened #104 "$all operator not working as expected"
My db has documents with tags, an array of strings, like this:
[code]

From MongoDB docs (I haven't found the docs for Mango/pouchdb-find):

So I'm trying to use the `$all` operator to find the docs containing all the tags in my query, but `find` always returns the full list of documents (even those with `tags = []`).

I created http://codepen.io/ffarias/pen/VvBXeq to reproduce (use the buttons an

[2015-11-03 22:26] havocdrake commented on #102
Its not working for me, it always returns:
<pre>
Remote Address:127.0.0.1:5984
Request URL:http://localhost:5985/monthly_totals/_find
Request Method:POST
Status Code:400 Bad Request
</pre>

[2015-11-03 22:34] havocdrake opened #105 "Is there a way to use pouchdb-find when directly accessing couchDB, through pouchDB instance(issue: recreated)"
Its not working for me, it always returns:
Using couchDB 1.6.1, pouchDB 3.6.0, pouchdb-find 0.6.0

<pre>
<b>JS Code:</b>
var db = new PouchDB('http://admin:admin@localhost:5984/product');
db.find({
      selector: {
             barcode : barcode,
       }
}).then(function(response){ /*...*/ });

<b>Request returns: </b>
Remote Address:127.0.0.1:5984
Request URL:http://localhost:5984/product/_find

[2015-11-04 05:09] garrensmith commented on #105
CouchDB 1.6 doesn't support PouchDB-find. You need to use PouchDB-server, Cloudant or CouchDB master.

All misspelling thanks to my iPhone

[2015-11-04 14:56] arnoutaertgeerts opened #106 "Max of 200 documents when querying Cloudant"
Is it possible I get a maximum of 200 documents when querying a Cloudant database? I'm using pouchdb as a client to the Cloudant database.

[2015-11-04 14:58] garrensmith commented on #106
I don't really understand your question. But you can use limit to limit the number of documents retrieved.

All misspelling thanks to my iPhone

[2015-11-04 14:59] arnoutaertgeerts commented on #106
When I use the plugin to query my Cloudant database the maximum amount of docs that are returned is 200 although I did not specify a limit. I'm expecting a lot more documents :)

[2015-11-04 15:14] garrensmith commented on #106
You need to test and see if when using curl or the cloudant dadhboard if you get the same number of docs or more.

All misspelling thanks to my iPhone

[2015-11-04 16:06] arnoutaertgeerts commented on #106
When I execute the exact same query in the cloudant dashboard I get all the documents (so > 200). I tested this for several different databases.

[2015-11-04 16:09] garrensmith commented on #106
Can you share your query syntax.

All misspelling thanks to my iPhone

[2015-11-04 16:10] aelx311 commented on #95
I am having the same issue.

I created an index on 'statusId' like this:
[code]

I want to query documents with statusId of 2 or 5 or 6 like this:
[code]

It is saying <b>Error: couldn't find a usable index. try creating an index on: $or</b>

What am I missing here? Thank you.

[2015-11-04 16:12] arnoutaertgeerts commented on #106
[code]

[2015-11-04 19:44] henksmeba opened #107 "$regex not working for me"
[code]
this will return all documents. I would expect it would return only documents with an a in the _id. Or am i doing something wrong here?

[2015-11-05 02:22] vcyang opened #108 "$in not working for me"
It seems that the "$in" will return all docs.  I tested it in the Live Demo (http://nolanlawson.github.io/pouchdb-find/), the same err occurred.

eg.  I replaced

    db.find({
        selector: {debut: {$gte: 1990}}
     });

with

    db.find({
        selector: {debut: {$in: [1990, 1991, 1981]}}
    });

 ( in Live Demo,  "Debut >= 1990")

but it turned out to be wrong. Am I doing something wro

[2015-11-06 02:56] cmk208 opened #109 "Unable to sort Index on deep fields"
I am having issue to sort index which have deep fields, i have created a sample below:

https://jsfiddle.net/skmLm66j/20/

Error:
[code]

Test Code:
[code]

[2015-11-10 10:48] #105 closed

[2015-11-10 10:48] #103 closed

[2015-11-10 13:13] henksmeba commented on #107
I now see that the js files in the dist directory don't contain the $regex implementation. Do i need to build these files myself or did something went wrong with publishing the release?

[2015-11-10 15:43] devicezero commented on #108
After playing around with it, it seems to me that $in returns only all docs if it is the only selector. Maybe you can use another selector as a workaround.

E.g. I have a scenario, where I want to filter my docs by **country** (array of one or more country codes) and **price**.

This works and returns 6 docs.
[code]

While this returns all of my 171 docs:
[code]

[2015-11-11 09:48] yssource opened #110 "How to sort by _id?"
HI, My _id looks like this
"1", "2", "3" ... "9", "10", "11", "12" ...
If I try to sort by _id, but it always get such a result,
"1", "10", "11", "12" ... "2", "3", "4" ...
However, This is not what I want.

And, I know _id should only be string type in pouchdb.
Any help?

[2015-11-11 11:47] garrensmith commented on #110
@yssource this is working as expected for javascript and strings. If you do `["2","1", "10"].sort();` you will get the same result.

[2015-11-11 11:47] #110 closed

[2015-11-12 09:49] garrensmith commented on #107
Sorry you cannot build a query like that. As mentioned in the [cloudant docs](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions)

[code]

[2015-11-12 09:49] #107 closed

[2015-11-12 09:50] garrensmith commented on #108
You have to use another operator with `$in`. As the [Cloudant Docs say](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions)

[code]

[2015-11-12 09:51] garrensmith commented on #104
You have to combine the $all operator with another operator. Like the [Cloudant Docs mention](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions)

[code]

[2015-11-12 09:51] #104 closed

[2015-11-12 11:16] garrensmith commented on #109
You need to make your selector like this:

[code]

Basically you have to sort with all the fields that are in the index.

[2015-11-12 11:16] #109 closed

[2015-11-12 11:33] garrensmith commented on #106
If I do something like this

[code]

With a Cloudant database I get more than 200 documents. Using just $exists shouldn't work with Cloudant as you need to provide another field to query off. As the [docs say:](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions)

[code]

[2015-11-12 14:11] #100 closed

[2015-11-12 14:19] garrensmith commented on #49
I'm closing this, since I don't think its in the roadmap for now.

[2015-11-12 14:19] #49 closed

[2015-11-13 11:09] garrensmith commented on #21
v0.7.0 now has `$elemMatch` support. So I'm now closing this.

[2015-11-13 11:09] #21 closed

[2015-11-13 11:09] garrensmith commented on #40
v0.7.0 now has `$elemMatch` support. So I'm now closing this.

[2015-11-13 11:09] #40 closed

[2015-11-13 11:09] garrensmith commented on #46
v0.7.0 now has `$elemMatch` support. So I'm now closing this.

[2015-11-13 11:09] #46 closed

[2015-11-13 11:10] garrensmith commented on #46
v0.7.0 now has `$elemMatch` support. So I'm now closing this.

[2015-11-13 11:10] garrensmith commented on #52
v0.7.0 now has `$elemMatch` support. So I'm now closing this.

[2015-11-13 11:10] #52 closed

[2015-11-15 20:30] yattias opened #111 "queries with $size:length are ignored."
I have docs with key ``tags`` which is an array.

When performing the following query, I end up getting all tags instead of only the ones with length 0.

[code]

Am I doing anything wrong?

<img width="554" alt="screen shot 2015-11-15 at 4 04 10 pm" src="https://cloud.githubusercontent.com/assets/802819/11171017/90138bba-8bb2-11e5-960b-7f0af3781b83.png">

[2015-11-15 21:15] yattias opened #112 "Is it possible to get all unique array elements across all docs"
Each one of my docs has a ``tags`` attribute. I would like to get all unique tags.

Currently, what I do is I query to get all tags and then perform a map reduce to get unique ones.

[code]

Is there a more efficient way of performing this?

[2015-11-16 02:00] yattias opened #113 "How to $elemMatch on multiple array elements?"
Hi,

Each doc in my DB has a key named ``tags`` which is of ``Array`` type. I'd like to select docs with matching list of tags.

It is simple to do so for a single tag but I am unable to do so for multiple tags.

I tried doing the following to match ``tag1`` && ``tag2`` with no luck:

[code]

What's the correct way of matching on multiple elements?

[2015-11-16 06:58] garrensmith commented on #111
Could you try something like.

[code]

[2015-11-16 07:02] #111 closed

[2015-11-16 07:02] garrensmith commented on #113
Try using `$in` instead of `$elemMatch`

[2015-11-16 11:58] garrensmith commented on #112
This is a situation where it is better to use a view.

[2015-11-16 11:58] #112 closed

[2015-11-16 15:19] andyepx commented on #113
Hi @garrensmith,

What is the correct syntax for $elemMatch, if one wanted to use it? I tried multiple combos of operators but they all seem to result in the whole index instead of the subset I was expecting to retrieve...

Thanks!

[2015-11-16 15:23] garrensmith commented on #113
@andyepx something like this:

[code]

But these [docs](https://docs.cloudant.com/cloudant_query.html#combination-operators) give a nice explanation and here is our [elemMatch tests for more examples](https://github.com/nolanlawson/pouchdb-find/blob/master/test/test-suite-1/test.elem-match.js).

[2015-11-16 15:23] #113 closed

[2015-11-16 16:34] yattias commented on #113
Thank you, will give it a shot!

[2015-11-16 16:38] yattias commented on #111
That seems to work. Also, I have noticed that without the ``_id`` key, most operators are not respected. Thank you.

[2015-11-16 17:19] garrensmith commented on #111
This might help, from the [Cloudant Docs](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions):

[code]

[2015-11-16 23:03] andyepx commented on #113
Thanks @garrensmith, :+1: awesome work!

[2015-11-18 19:35] cornelisse opened #115 "ddoc for find-indexes must differ from design document for map/reduce views"
I discover that find() returns {} when the index is stored in the same design document (e.g _design/my_indexes) for map/reduce views. When ddoc (e.g. indexes) refers to another _design document (like _design/indexes) than everything works well.

I am not sure if this is specified somewhere in the documentation. (If I missed this, than my apologises in advance.) Nor if this is known / designed beha

[2015-11-18 20:51] cornelisse commented on #115
I just read your page about "secondary indexes" again and noticed the strong advise to create one view per ddoc. If I follow your advice, this issue (#115) will not occur :-)

[2015-11-19 08:15] garrensmith commented on #115
Thanks @cornelisse I will look and see if we can at least add a warning about this.

[2015-11-19 08:17] garrensmith opened #116 "Warn on lack other selector with $elemMatch"
If a user creates a query like this:

[code]

Then it returns all docs because the selector needs another query like this:

[code]

I think we should try and add a warning or something if this occurs.

[2015-11-19 12:19] garrensmith opened #117 "Should throw error if cannot run query on index"
Currently if we create an index like this:

[code]

And then run a query like this:

[code]

It returns all the documents in the database instead of throwing an error like CouchDB does:

`{"status":400,"name":"no_usable_index","message":"Missing JSON list of 'docs'","reason":"There is no index available for this selector."}`

[2015-11-20 10:30] dharmeshds opened #118 "$elemMatch on Object Arrays"
Guys, first of all, cheers to your awesome work on Couch/PouchDB.

I would like to know if there is a way to query object arrays using $elemMatch, in a doc that looks something like;

[code]

when I tried $elemMatch with an index on request and events I am getting all documents... Appreciate your urgent help since this is critical for completion of my current project..

[2015-11-20 10:57] dharmeshds commented on #118
Hi Garren, I have read your issue #117, but it still returns me all docs even if I used another selector with $elemMatch..

[2015-11-20 11:08] garrensmith commented on #118
@dharmeshds could you show me what your selector currently looks like?
Just for future reference, we not all guys here. So `Hi All` or `Hi everyone` is better than guys.

[2015-11-20 11:11] dharmeshds commented on #118
{
              "request": 'request1',
              "activity": 'contactConnection',
              "events": { $elemMatch: 'U000018877766665196206231445227014795' },
            }

[2015-11-20 11:15] dharmeshds commented on #118
:) Sorry... Hi all..
I tried several ways to select without success..

{
  "request": 'request1',
  "events": { $elemMatch: { "status": 'pending' } },
}

my index is on request and events..
I thought this should work based on MongoDb examples..

[2015-11-20 11:21] garrensmith commented on #118
Try creating an index just for `request`. Then do something like this:

[code]

If that doesn't work. Then it is a bug in PouchDB. But you can also test via the Cloudant Dashboard or CouchDB Fauxton (master branch) to see if your query works against them. If it doesn't work against them then the query is wrong.

[2015-11-20 11:28] dharmeshds commented on #118
when I tried this selector I get,
Error: unknown operator "a" - should be one of $eq, $lte, $lt, $gt, $gte, $exists, $ne, $in, $nin, $size, $mod or $all

[2015-11-20 11:30] garrensmith commented on #118
What does your selector statement look like?

[2015-11-20 11:36] dharmeshds commented on #118
db.find({
              "selector": {
                "request": 'request1',
                "events": {
                   "$elemMatch": {
                      "status": 'completed'
                    }
                }
              }
            }).then(printConsole).catch(logError)

[2015-11-20 11:38] dharmeshds commented on #118
it works without events elemMatch in the selector.. index is just on request

[2015-11-20 11:38] garrensmith commented on #118
Seems like a bug. I'll take a look when I get a chance.

[2015-11-20 11:40] dharmeshds commented on #118
sure, thanks a lot for quickly looking into the issue.. I will also try this on Cloudant or Fauxton and let you know if it works.. appreciate your help..

[2015-11-20 11:58] dharmeshds commented on #118
I debugged pouchdb-find and it certainly seems to be a bug in line 1422,
            return createCriterion(matcher, userValue[matcher], 'a')({'a': value});

the matcher becomes 0 for arrays and it is being compared in the switch statement for userOperator in line 1355 which eventually throws the above error..

[2015-11-20 19:19] kristdev opened #119 "pouchdb collate with pouchdb find"
Hey, i want to use pouchdb collate and pouchdb find. i've created documents with and _id field like 1447923264692-54utilisateur.

I want to find docs using only _id field. I want to show docs where _id field contains 'one thing there'.

Can you help me? i want to use db.find(), but i don't know which selector i must use.

[2015-11-21 15:25] Sigmus opened #120 "$in selector always returns all docs"
Hello. I'm having trouble understanding the ```$in``` operator usage.
At http://nolanlawson.github.io/pouchdb-find/ I tried this code:
[code]
It doesn't matter what goes into the ```$in``` value when you run the code **it always fetches all documents**. I'm probably missing something, can someone please help?

[2015-11-21 16:03] garrensmith commented on #120
You need another selector. From the [Cloudant Docs](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions)

[code]

[2015-11-21 16:31] Sigmus commented on #120
Thank you for your reply. So using ```$gte```as the basis of our query:
[code]
ness shouldn't be in the results... I'm still confused.

[2015-11-21 17:03] garrensmith commented on #120
Sorry the version of PouchDB-find running on the github.io page is slightly older and has a bug in the $in operator.

All misspelling thanks to my iPhone

[2015-11-23 13:24] #67 closed

[2015-11-24 03:43] vcyang commented on #108
@devicezero Thanks for your answer. Since my data to be stored is different:
[code]
Which means that the "productName" (the "_id" as well) should be **String**, and the "productId" is a random **Number**. How I can get objects that **productId $in [12567, 23764]** ?
As suggested by @garrensmith , the [Cloudant Docs](https://docs.cloudant.com/cloudant_query.html#creating-selector-expressions) tells

[2015-11-24 07:59] garrensmith commented on #108
@vcyang does each document have this structure:

[code]
If it looks like that? Then it should work? Otherwise its a bug.
If that

[2015-11-24 08:00] garrensmith commented on #108
Also make sure you using the latest `pouchdb-find` from npm or the dist folder. It is newer than the version on the github page.

[2015-11-24 09:01] vcyang commented on #108
@garrensmith Yes, the document structure is like that, but it doesn't work. Could you tell me where I can get the latest version of  `pouchdb-find` ?  I googled it but not found. The current one I using is `0.7.0`.

[2015-11-24 09:07] garrensmith commented on #108
That is the latest one. I will try and take a look this week and see if its
a bug.

On Tue, Nov 24, 2015 at 11:01 AM, vcyang <notifications@github.com> wrote:

[2015-11-24 11:18] vcyang commented on #108
@garrensmith It works! The reason I fail is that the old data (some properties are missing) have not been deleted before I put new ones in and I haven't noticed that.  :cry::cry::cry::cry:
Thanks a lot!

[2015-11-24 11:31] garrensmith commented on #108
Great to hear. Could you close the PR

All misspelling thanks to my iPhone

[2015-11-24 14:52] garrensmith commented on #119
@kristdev I'm would guess you could do something like this:

[code]

[2015-11-24 14:53] #108 closed

[2015-11-24 14:53] #106 closed

[2015-11-25 06:56] #117 closed

[2015-11-25 06:57] #116 closed

[2015-11-25 14:04] Sigmus commented on #120
I was able to understand how it works using Cloudant directly. Thanks again.

[2015-11-25 14:04] #120 closed

[2015-11-26 07:03] ThinklabsGbR opened #124 "$in not implemented in selector option?"
Hey,

is it possible that $in currently can't be used as selector option? The following example returns wrong results

[code]

Am i doing something wrong?

Cheers,
Antony

[2015-11-26 08:13] garrensmith commented on #124
Hi @ThinklabsGbR this should help you https://github.com/nolanlawson/pouchdb-find/issues/120

[2015-11-26 08:13] garrensmith commented on #124
Bascially you ned another selector combined with `$in` for that query to work.

[2015-11-26 11:14] ThinklabsGbR commented on #124
Ah i see..thanks very much, now it is working as expected!

Cheers,
Antony

[2015-11-26 11:14] #124 closed

[2015-11-26 11:42] isaacanet opened #125 "Error with find()"
Hi, I am trying to find elements with Find() but always It returned "Error: couldn't find a usable index. try creating...".
My data array is similar to:
[code]

How do I find elements with phone key?

[2015-11-26 11:47] garrensmith commented on #125
@isaacanet you would need to create an index with the fields `moreData.phone` and then you would need to query with the `moreData.phone`. If you don't know how to do that I would recommend reading the readme as well as the [Cloudant docs](https://docs.cloudant.com/cloudant_query.html#combination-operators).

[2015-11-26 11:47] #125 closed

[2015-11-26 11:47] garrensmith commented on #124
Excellent.

[2015-11-26 11:56] isaacanet commented on #125
I do it, but when I want to find by phone returns error.
My code is:

[code]

[2015-11-26 12:02] garrensmith commented on #125
The issue here is  you are creating an index on `actor.firstName` but then querying on something different. You need to do this instead:

[code]

[2015-11-26 12:06] isaacanet commented on #125
Now It's working! Thanks! Technical failure...

[2015-11-27 03:51] sckoh opened #126 "old bower version"
bower.json is still pointing to 0.3.5

[2015-11-27 04:19] garrensmith commented on #126
Thanks I'll try fix soon. It's s nice easy pull request if you have the time.

All misspelling thanks to my iPhone

[2015-11-27 04:33] sckoh commented on #126
i have created a pull request

[2015-11-29 06:28] natcohen opened #128 "Unable to make a simple find"
I don't think it's a bug, it's just that I don't know where to ask my question. I'm trying to make a simple request without success.

           tspPouch.createIndex({
                index: {
                    fields: ['type']
                }
            }).then(function (result) {
                console.log(result);
                tspPouch.find({
                    selector: {type: 'cover

[2015-12-01 08:30] garrensmith commented on #126
Fixed

[2015-12-01 08:32] garrensmith commented on #128
@natcohen that should work. I can only imagine their is a typo or something. Which version of CouchDB are you using and what version of pouchdb-find and pouchdb.

[2015-12-01 08:32] #126 closed

[2015-12-01 08:44] natcohen commented on #128
@garrensmith I'm using v0.7.0 of find, 5.0.0 of pouchdb and 1.6.1 of couchdb!

It really drives me crazy...I don't see any typo and the index is successfully created.

[2015-12-01 08:46] garrensmith commented on #128
You cannot use pouched-find with CouchDB 1.6.1. you need to use either Cloudant, PouchDB-server or CouchDB from the master branch.
That could be your issue.

[2015-12-01 09:07] natcohen commented on #128
Oh...I see! I'm surprised that couchdb affects pouchdb-find behavior. I thought pouchdb was independent and could sync with couchdb but according to what you say, it seems that pouchdb shares more with couchdb than a sync...

[2015-12-01 09:16] garrensmith commented on #128
It depends on what your connection string is. If you specify a url then it connects to that CouchDB instance. If you just specify a database name then it will use the browser’s database. Most likely indexDB.

[2015-12-01 09:31] natcohen commented on #128
Well in my case I have a localDB that sync with a remote CouchDB...and getting this behavior.

BTW what do you mean by CouchDB master? Do you mean CouchDB 2 beta?

[2015-12-01 09:51] garrensmith commented on #128
Ok if you remove the sync part do you still get the issue? If so I think I will need to see a larger gist of your code.
CouchDB master — CouchDB from git master branch.

[2015-12-02 20:46] kristdev commented on #119
ok, i will test it, thanks

[2015-12-03 02:42] natcohen commented on #128
@garrensmith Hey Garren, I removed the replication and still get the error. Should I clean my cache and recreate my DB?

[2015-12-05 21:45] nolanlawson commented on #102
@havocdrake This plugin only works for CouchDB 2.0+, not CouchDB 1.x.

[2015-12-05 21:53] nolanlawson commented on #119
Please reopen if you're still having an issue.

[2015-12-05 21:53] #119 closed

[2015-12-05 21:54] nolanlawson commented on #128
Closing because this sounds more like tech support than an issue. FWIW, StackOverflow and the #pouchdb IRC are also good channels for this kind of discussion. :)

[2015-12-05 21:54] #128 closed

[2015-12-07 11:35] kwstoikonomou opened #129 "MutliSelector issues"
Working on latest Chrome:

__$or not working__
I want to find all docs with firstName starting with "Venk", OR lastName starting with "Mario".
So i am doing the following:
[code]
and i get the following error:
Uncaught (in promise) Error: couldn't find a usable index. try creating an index on: $nor. Make sure that only $eq, $gt, $gte, $lt, and $lte are used for the indexed fields

It seems to not

[2015-12-07 21:37] natcohen opened #130 "Unable to create an index"
I think this one is a bug...

I use angular 1.4, pouchdb-find 0.8.0, pouchdb 5.0.0 and Chrome 47.0.2526.73

I initialize my database:

        var db = new PouchDB('newdb', {auto_compaction:true, size: 50});

        db.replicate.to('https://login:pass@myDB.cloudant.com/newdb', {live:true})
        db.replicate.from('https://login:pass@myDB.cloudant.com/newdb', {live:true})

And have a service lik

[2015-12-08 08:50] garrensmith commented on #130
Could you try doing `db.createIndex and db.find` instead of `pouchDB.find`

[2015-12-08 08:55] garrensmith commented on #129
@kwstoikonomou first off instead of doing `{$gte: "Venkov"}, {$lte: "Venkov\uffff"}` you can do
`{$eq: "Venkov"}.

Then for `$or`, it needs to be combined with another selector because that part is done via in memory processing. I explain it a bit in this [blog post](http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find).

So something like this could work

[code]

[2015-12-08 08:55] #129 closed

[2015-12-08 09:32] natcohen commented on #130
Well pouchDB is the name of my service that returns my DB (db) so it doesn't really matter, it's just for the structure of my app.

Anyway, I did what you asked (put the find right after initializing the db in the same service) and got the same problem...

[2015-12-08 09:38] garrensmith commented on #130
Could try it without the replication setup. You can only query once the createIndex promise has resolved otherwise it will fail.

All misspelling thanks to my iPhone

[2015-12-08 13:09] chancezeus opened #131 "$eq not working"
I have a (websql) database with a numerical field called state and created an index on this field, when I use find like this:

[code]

or

[code]

or even

[code]

it returns the correct documents, however when I do it like this:

[code]

or

[code]

it doesn't return any documents. This is impossible since there are documents returned when calling find with `1 < state < 3`

The database is runnin

[2015-12-08 15:37] kwstoikonomou commented on #129
`{$eq: "Venkov"}.

I think that is wrong. Doesn't $eq mean "equal"?? I don't want the firstname to be equal to "Venkov". I want the firstname to start with "Venkov"... That is why i do the "\uffff" character trick. Am i wrong somewhere i don't understand?

[2015-12-08 16:01] garrensmith commented on #129
Sorry I misunderstood you are correct.

All misspelling thanks to my iPhone

[2015-12-09 02:56] natcohen commented on #130
@garrensmith I removed the replication and got the same result... In addition, as you can see from my code, the find is performed only when the createIndex has been resolved!

[2015-12-09 03:55] Sigmus commented on #130
@natcohen What happens when you log createIndex's result?

[2015-12-09 10:00] ronyrun commented on #118
Hello,
I encounter as well some issues with $elemMatch.

The Index :

                    {
                        index: {
                            fields: ['data.color', 'data.forms'],
                                name: 'name',
                                ddoc: 'ddocname',
                                type: 'json'
                        }
                    }

In my docs :
1) dat

[2015-12-09 11:02] garrensmith commented on #118
@ronyrun currently there is a bug with $elemMatch that is cannot do in object matches. I'm hoping to fix it soon as I get some free time. Sorry that I cannot help you further.

[2015-12-09 16:18] ronyrun commented on #118
Hi @garrensmith no worries !
I used a view instead

Thank you very much for your work

[2015-12-10 09:59] kwstoikonomou commented on #129
What about the $and behavior?
Shouldn't all the mentioned cases work the same? At least i think that is the intuitive way to do things.

[2015-12-10 14:42] trungtin opened #132 "How to filter subdocument fields"
I have some thing like this:
[code]
and I want to filter some object, e.g. `"facebook"` and `"google"`, I thought this should work:
`db.find({selector: {_id: {$eq: 'link'}}, fields: ['data.facebook', 'data.google']}).then(doc => console.log(doc))`
but it not, it return like this `{'data.facebook': undefined, 'data.google': undefined}`
Is there anyway to do this? Thanks very much.
Edit: Of course I

[2015-12-11 07:41] garrensmith commented on #132
Could you show me what a document looks like. I don't understand the example above.

[2015-12-11 12:42] angelxmoreno commented on #129
@garrensmith  please reopen this issue until it is confirmed as a bug. I am getting the same error
@kwstoikonomou please show the code showing how you are defining your indexes

[2015-12-11 12:51] kwstoikonomou commented on #129
Not sure what has to do with the $and problems but here it is how i create my indexes:

[code]

[2015-12-11 13:33] nolanlawson commented on #132
You need `'link.data.facebook'`, not `data.facebook`.

[2015-12-11 13:33] #132 closed

[2015-12-11 13:34] angelxmoreno commented on #110
@yssource if you care about order then add a field ( something like `seq`) and have its value be integers, not strings

[2015-12-11 13:35] nolanlawson commented on #130
@natcohen Can you enable debug mode and try again? In debug mode, it will print out all the indexes it found and why it didn't choose one.

[2015-12-11 13:45] angelxmoreno commented on #129
@kwstoikonomou I was having the same error message and was trying to debug while comparing your syntax. I came across #27 Order of index fields matter when using sort
That seem to fix my issue.

Also, the reason why the examples you mention do not all work the same is because they are not properly syntaxed objects.
[code]

Hope that answers your question.

[2015-12-11 13:48] nolanlawson commented on #131
Does this error only occur with the SQLite Plugin? We've had bugs with the SQLite Plugin in the past because their implementation is poor.

[2015-12-11 13:53] kwstoikonomou commented on #129
@angelxmoreno
I don't have sort on my query so i don't encouter that problem. Altough i seem to remember stumbling upon such an "unexplained" issue when initially experimenting with PouchDB.

Your comment about incorectly syntaxed objects is dead-on! I should have spotted that.
So the "un-intuitive" behavior of $and is not a PouchDB error, is a Javacript problem.

All in all thanks for your commen

[2015-12-11 13:56] angelxmoreno opened #133 "feature request: Using find() with db.changes()"
Scenario: I create a complex find and now I want to subscribe to db changes that match the results of the find. Maybe a function that takes a query syntax and creates something that could be leveraged with [Filtered changes](http://pouchdb.com/api.html#filtered-changes).

[2015-12-11 15:39] trungtin commented on #132
Thanks for your reply.
But actually, it doesn't work. I have solved it by filtering in JS, but if you want to take a look, I have a simple fiddle here: https://jsfiddle.net/wf4xu1xd/

[2015-12-11 17:19] angelxmoreno commented on #133
As stated by @garrensmith on slack:
[code]
sounds fair. will work on that.

[2015-12-11 17:19] #133 closed

[2015-12-12 17:44] nolanlawson commented on #132
Thanks for your fiddle! And sorry, but I mistyped. You want `data.facebook.name`.

[2015-12-13 03:17] natcohen commented on #130
@nolanlawson I enabled the debugger and I get that:

    pouchdb:find creating index +0ms _design/idx-1fb2ce0f95850b501398c4897433bec5
    pouchdb-find-0.8.0.min.js:1 pouchdb:find planning query +2s Object {selector: Object, sort: Array[1]} (the object being my request)

However when I try to display the indexes after creating it;

    find:function(){
        var deferred = $q.defer();
        po

[2015-12-14 00:00] nolanlawson commented on #130
Yeah, somehow you don't have any indexes. You have a single array with the built-in `_all_docs` index and no others.

I don't know how it happened, but your `createIndex()` failed, or it's not ready by the time you query. I think the issue might be the `type: 'text'`.

[2015-12-14 00:01] nolanlawson commented on #130
Or it could be the `type`. Not sure unless you can provide a live test to reproduce.

[2015-12-14 10:30] dedoyle opened #134 "how to use with angular"
I don't know where to put this code
PouchDB.plugin(require('pouchdb-find'));

[2015-12-14 11:10] garrensmith commented on #134
Straight after you have required PouchDB

[2015-12-15 02:14] dedoyle commented on #134
thx. I know that, but I'm not using requirejs with angular. I use PouchDB without using require.

[2015-12-16 00:25] nolanlawson commented on #134
If you are using Angular 1, then just include the script in your page:

[code]

If you are using `angular-pouchdb`, then follow their instructions to make it work with pouchdb-find: https://github.com/angular-pouchdb/angular-pouchdb#does-this-work-with-pouchdb-plugins

[2015-12-16 00:25] #134 closed

[2015-12-16 03:00] nadinugraha opened #135 "sort not working"
Hi,

I have list of employees with the following JSON structure :

[code]

I need to get the list of employees sorted by empname. The code is as following:

[code]

The code did not return any result. However, if I change the sort with sort: ['docType'], it returned result. Is there anything I miss ?

Thanks

[2015-12-16 05:52] kenfehling opened #136 "Bug in "Sort by name" and "Select certain fields" in demo"
In the [demo](http://nolanlawson.github.io/pouchdb-find/) the use of ```$exists``` causes an error in the "Sort by name" and "Select certain fields" examples.
[code]

[2015-12-16 12:41] ameernuri commented on #130
Got the same error. Here's the `createIndex()`
[code]
When I run it, it logs `index created` but it comes after the error message. It used to say `...try creating an index on: type. Make sure...` but I changed the `type` field to `kind` and now it says `...try creating an index on: . Make sure...`

[2015-12-16 17:00] vijender007 commented on #130
I am also getting the same error on my local machine. So needs to have a solution for it.

[2015-12-18 19:43] raymatos opened #137 "Not sure your sort requirements make sense"
So lets take the following dataset

[code]

in SQL you could do something like this

[code]

I wouldnt be able to do something like this in pouchdb.find

Doing

[code]

Will yield the following error ```Error: conflicting sort and selector fields```

So i tried this

[code]
Then it complains saying that i can only use
[code]

Here is the 2 indexes i tried using
[code]

I come from a mysql backgrou

[2015-12-20 18:10] nolanlawson commented on #137
No, you're right, this is a design flaw in Mango. I too think it's silly that you need to sort on exactly the field that you search for. It should just run the query and do the sort in-memory if necessary.

Unfortunately this is not something that we can solve, since the goal of `pouchdb-find` is to implement Mango exactly as designed. I suggest opening a ticket on https://github.com/cloudant/mang

[2015-12-20 18:10] #137 closed

[2015-12-20 18:11] nolanlawson commented on #136
Yeah, this was introduced recently because we changed the semantics of `$exists` to exactly match those of Cloudant. It should be chnaged to `$gt: null`.

[2015-12-20 18:16] nolanlawson opened #138 "Stuff I dislike about Mango"
I don't know where else to put this, but I want to create an issue to track all the stuff that I found I really really disliked about Mango as I was writing this plugin, but can only really be fixed by changing the Mango specification/implementation.
- [ ] `$exists` is in-memory - this is totally unnecessary. if you can do `$gt: null` on an indexed field, then you should be able to do `$exists: tr

[2015-12-20 18:17] nolanlawson commented on #138
So I guess the thing I'll do is create a JIRA for each issue and then link to it from here

[2015-12-20 18:20] nolanlawson commented on #135
Thanks for the question. I recommend you read [this blog post on promises](http://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html) (search for the "promisey pyramid of doom" section especially).

As for your issue, I'll have to create a test to see. I don't understand what you mean by "did not return any result."

[2015-12-20 22:18] nolanlawson commented on #136
fixed by 67701dc83411db1e57a7366228e330de41b14a29

[2015-12-20 22:18] #136 closed

[2015-12-21 08:56] nadinugraha commented on #135
Hi,
I read the blog and I modify the code as following (assumed that the index is already created elsewhere) :

                                 db.find({
                                            selector: { $and: [
                                                                {empname : {$ne: ''}},
                                                                {docType: 'temployees'},

[2015-12-23 14:23] EuAndreh commented on #138
Check with @janl what's the most suited way to do this.

[2015-12-27 13:05] janl commented on #138
+1 on filing a JIRA with CouchDB. These are good suggestions!

[2015-12-30 17:02] Sigmus commented on #130
I created a fiddle: https://jsfiddle.net/sigmus/t400cq0r/ – so we can try to pinpoint the problem.

![image](https://cloud.githubusercontent.com/assets/155508/12054008/eb844a86-af05-11e5-8275-02078fd77816.png)

The above image shows the console output.

[2016-01-03 12:10] megaed opened #140 "I can't seem to use $nin right"
[code]

---

[code]

---

What im trying to do is get a list of results where the specfied date is not found.

Since im trying to check absences.. I want to get a list of results where the current date is not found.

So that i can check who are not currently absent.

I thought of using $nin since that seemed to be able to check arrays.. but im getting this error whenever I execute the db.find comm

[2016-01-03 17:09] megaed commented on #140
I got it to work but it's definitely a strange behavior.

It only started working after I added _id as a criteria..

by adding _id: {$gt: null}  as a selector it suddenly started working and it only works with $gt operator it doesn't work with $exists: true.. which I find quite strange since $gt: null should be equal to $exists.. atleast that's what I believe..

none of my selectors work with $exi

[2016-01-03 18:28] nolanlawson commented on #140
Yes, this  has been covered in #138. It's very counter-intuitive. :(

Adding _id: {$gt: null} is probably only fixing your issue because it chooses the built-in `allDocs()` index, and then does your entire query in-memory, which is probably not what you want.

I think the fix is that you need to remove `absents` from your index, because since you're using `$nin`, it's not going to be using the ind

[2016-01-03 18:43] youknowriad opened #141 "$text support"
Hello,

I would like to know if there's any chance to have support for the $text operator.

Thanks a lot

[2016-01-03 20:05] nolanlawson commented on #141
It's not currently being developed, but it's a desirable feature, yes! :)

[2016-01-04 09:37] megaed commented on #140
Removing absents from my index did the trick. I was able to retrieve the data from pouchdb without adding _id as a selector.
but using $exists: true still doesn't work so I decided to go with $gt: null.

You raised some good points in #138. Great job maintaining this plugin. It really does make querying in pouch easier.

[2016-01-04 10:29] garrensmith commented on #138
I've added the following JIRA tickets for this:

* https://issues.apache.org/jira/browse/COUCHDB-2926
* https://issues.apache.org/jira/browse/COUCHDB-2927
* https://issues.apache.org/jira/browse/COUCHDB-2928
* https://issues.apache.org/jira/browse/COUCHDB-2929

I'll reach out to @tonysun83 and the rest of the Cloudant team that could help on this.

[2016-01-04 16:50] tonysun83 commented on #138
@garrensmith @nolanlawson : Appreciate the suggestions and feedback! I'll address each JIRA ticket separately and tag you guys to open up discussion.

[2016-01-05 12:26] garrensmith commented on #130
If I use @Sigmus jsfiddle I cannot recreate this issue. Even if I add `type: text` when creating the index.

[2016-01-06 16:41] dflourusso opened #142 "$exists not working"
Following [THIS](https://github.com/nolanlawson/pouchdb-find#dbfindrequest--callback) docs, i am trying to execute a find as [THIS](https://github.com/nolanlawson/pouchdb-find#sorting).

But i'm getting the error bellow:

It isn't supported more?

[2016-01-07 14:42] nolanlawson commented on #138
Thanks a lot @garrensmith!

[2016-01-12 00:30] dwilt opened #143 "bug: db.find() not working on iOS"
In my Ionic application, getting this error:

[code]
<img width="999" alt="screenshot 2016-01-11 16 27 09" src="https://cloud.githubusercontent.com/assets/1065539/12251002/3166f070-b880-11e5-863f-fd98a0e6121c.png">

This isn't happening though on desktop in Chrome. Here's my find:

[code]

[2016-01-12 15:45] EuAndreh commented on #143
Hmm, maybe the `selector` should look something like:
[code]

[2016-01-12 16:22] dwilt commented on #143
@EuAndreh that's es6 shorthand. I updated the code. Sorry for the confusion. The problem still exists though.

[2016-01-12 17:52] EuAndreh commented on #143
Hmm, I see.
What adapter are you using? SQLite?

[2016-01-15 02:05] nolanlawson commented on #143
This does look suspiciously like a SQLite Plugin bug due to the stacktrace.

[2016-01-15 02:10] dwilt commented on #143
@nolanlawson correct me if I'm wrong but Pouch will automatically use the SQL Plugin right? I mean, I guess we're using it and I may have set it up but I think it just used it by default? I'm not familiar with it that much. Hence the post ;)

[2016-01-15 02:27] nolanlawson commented on #143
[WebSQL](https://www.w3.org/TR/webdatabase/) !== [SQLite Plugin](https://github.com/litehelpers/Cordova-sqlite-storage)

But yes, if the SQLite Plugin is installed, then PouchDB will use it on iOS. Do you know which one you are using?

BTW if you really need the SQLite Plugin, you may want to look into https://github.com/nolanlawson/sqlite-plugin-fork, which is less likely to have bugs.

[2016-01-15 17:14] dwilt commented on #143
@nolanlawson how can I check which version of the SQLite Plugin I'm using (if at all)?. I believe we're using WebSQL because I get a notification in my console that says:

[code]

[2016-01-16 19:35] nolanlawson commented on #143
Well, those messages are in place normally because of dirty browser data, so the best way to test is to completely clear out the data and try again (i.e. to experience what your users would experience). You may have to uninstall your app and reinstall it.

To check what you're using, you can do:

[code]

If it says "`sqlite_plugin: true`", then you're using the SQLite Plugin.

[2016-01-19 03:00] dwilt commented on #143
@nolanlawson ok I'll try the data clear.. As for the db info:

[code]

[2016-01-19 12:03] garrensmith commented on #142
@dflourusso $exists is working. Can you show me your full query. You need to combine $exists with another query. See [this article](http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find) for more detail on this

[2016-01-21 00:16] yattias opened #144 "Error TypeError: Cannot use 'in' operator to search for 'startkey' in null"
Hi ``pouchdb-find`` team,

I am trying to perform a query against the DB and running into:

``Error TypeError: Cannot use 'in' operator to search for 'startkey' in null``

The query object I pass in is:

![screen shot 2016-01-20 at 7 11 29 pm](https://cloud.githubusercontent.com/assets/802819/12467499/d07d8b1c-bfa9-11e5-81b7-0ec30330a84b.png)

The error I get is:

![screen shot 2016-01-20 at 7 13

[2016-01-21 06:09] #144 closed

[2016-01-21 10:59] thedeadkoiclub opened #145 "pouchdb-find and ember"
Sorry, for this very basic question ... How do I make the pouchdb plugins work in ember? I'm currently trying this with pouchdb-find.
I have pouchdb working smoothly via ember-pouch.
Pouchdb-find is installed by `bower install pouchdb-find`.
I'm calling: `app.import("bower_components/pouchdb-find/dist/pouchdb.find.js");` in ember-cli-build.js
Now I'm lost on how to attach the plugin to the pouchdb

[2016-01-21 14:45] yattias opened #147 "Can't seem to be able to sort by ascending order?"
Hi Pouchdb-find team,

I have the following query:

      var searchQuery = {
        selector: {
          $and: [
            {_id:  {$gt: null}}
          ],
          sort: [{_id: 'asc'}]
        }
      };

But my results are not sorted correctly.

"_id" is a string in my database. Each record has the following:

![screen shot 2016-01-21 at 9 42 55 am](https://cloud.githubusercontent.com/asse

[2016-01-21 15:54] garrensmith commented on #147
Could you supply some examples of what your ids look like. Along with how they should be ordered

All misspelling thanks to my iPhone

[2016-01-21 18:42] yattias commented on #147
Hey @garrensmith The IDs are numeric strings. They are created by javascript's ``Date.now()``

Here is an example:

![screen shot 2016-01-21 at 1 40 00 pm](https://cloud.githubusercontent.com/assets/802819/12490661/ad17d8c6-c044-11e5-905e-f2b8e0f242a5.png)

I'd like for them to be order either by ascending or descending order.

[2016-01-21 20:04] reggi opened #148 ""Referer header required." error with .find"
Trying to document my issue for others and myself. Here's the setup:

I have three documents in a `test` database.

<img width="548" alt="screen shot 2016-01-21 at 2 00 15 pm" src="https://cloud.githubusercontent.com/assets/296798/12492746/602030a6-c047-11e5-9cdd-bd476f3c6f0f.png">

Each looks like this:

[code]

I'm trying to test out the find functionality and only want docs where `cup: "mug"`.

[2016-01-21 20:08] reggi commented on #148
Even when I create the index, I still get the error :)

[code]

[2016-01-21 20:13] reggi commented on #148
Oddly this is giving me an error as well:

[code]

[2016-01-21 20:21] reggi commented on #148
This might be doup of https://github.com/nolanlawson/pouchdb-find/issues/103

[2016-01-21 20:55] nolanlawson commented on #148
What version of CouchDB are you using? `_find` is not supported in CouchDB 1.6.1 and below, although it will be released in CouchDB 1.7 and 2.0. It's also supported in PouchDB Server.

[2016-01-21 20:57] nolanlawson commented on #148
Yeah okay, I just tested locally and can confirm that the issue is the CouchDB version. We need better error messaging around this (and would gladly accept a PR that detected CouchDB's vague error messages and transformed it into something more useful! :smiley:). Sorry for the headaches.

[2016-01-21 20:57] #148 closed

[2016-01-21 20:58] nolanlawson commented on #148
BTW the easiest way to get started with CouchDB 2.x is:

[code]

Or pouchdb-server is just:

[code]

[2016-01-21 20:59] nolanlawson opened #149 "Better error message when using CouchDB <=1.6.1"
The current messaging around this is super confusing: https://github.com/nolanlawson/pouchdb-find/issues/148

[2016-01-21 21:47] reggi commented on #148
:+1:

[2016-01-22 10:25] #145 closed

[2016-01-22 15:08] cemarta7 commented on #147
Im having the same problem when trying to sort.

db.createIndex({
      index: {
        fields: ['name','type'],
        name:"contacts"
      }
    })

db.find({
        selector: {
          name: { $gt: null },
          type: { $eq: 'contact' }
        },
        fields: ['_id', 'name'],
        sort:[{'name':'asc'}]
      })

sorting is happening by _id not by name

[2016-01-22 15:24] garrensmith commented on #147
Thanks for reporting, I'll take a look soon as I can.  If either of you could write a failing test then I can take a look and see how to fix it. Or help you fix it you want.

All misspelling thanks to my iPhone

[2016-01-22 15:36] cemarta7 commented on #147
Actually its working. It just being case insensitive. how can I apply a function to make them lower case before sorting?

[2016-01-24 22:57] nolanlawson commented on #145
In case no one figured this, you need to `PouchDB.plugin(require('pouchdb-find'))`

[2016-01-25 05:07] yattias commented on #147
Ah, never mind. I had my ``sort`` in my selector. Closing...

[2016-01-25 05:07] #147 closed

[2016-01-25 13:29] #118 closed

[2016-01-25 13:59] garrensmith commented on #79
A quick update on this. I've made some fixes and I think we are ready to do a release candidate for v1 at least. We now support all functionality. I think there might be a few small bugs. So I'll do a bit more testing.

When would you like to move this to the pouchdb repo? And when do we do a pouchdb release with this?

[2016-01-25 14:08] nolanlawson commented on #79
@garrensmith I think the big blocker to releasing this as part of PouchDB is the CouchDB 1.7/2.0 release. I've seen a *lot* of user confusion about trying to use pouchdb-find with 1.6 and failing.

Another blocker in my opinion is https://github.com/pouchdb/pouchdb/issues/4449, i.e. exposing some way for users to selectively exclude map/reduce or pouchdb-find. Otherwise all we can do is bloat Pouc

[2016-01-25 22:18] thedeadkoiclub commented on #145
Hey Nolan, thanks for answering. It turned out to be so trivial, that it seemed a dumb question after all. I just installed pouch-find via npm and used the app.import in the ember-cli-build.js Then all the methods of pouch-find (also true for other plugins) are already attached to the db. So no call of require or PouchDB.plugin necessary here. Thanks anyway.

[2016-01-27 02:45] he-yang opened #151 "Error: couldn't find a usable index."
Hi,

I am using pouchdb-find to do "tag" search locally on my pc with indexedDB.
All docs include a 'tags' field which is an array filled with tags, e.g. ['tagA','tagB','tagC']

1st, createindex like this.
db.createIndex({
	  index: {
		fields: ['tags']
	  }
	}).then( //do my db.find here)

2nd, I am trying to search for docs with a certain tag :

db.find({
		  "selector": {
			"tags": {
			  "$el

[2016-01-27 09:16] garrensmith commented on #151
hi @he-yang you need another selector this [blog post]([http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find) will explain it in a bit more details.

[2016-01-27 11:27] he-yang commented on #151
thank you for your reply. problem solved, and $regex and $elemMatch can only work "in-memory".
anyone else encounter the same issue can add {_id:{$gt:null} to your selector object and try again.

[2016-01-27 12:08] garrensmith commented on #151
Great to hear.

[2016-01-27 12:08] #151 closed

[2016-01-27 12:58] natcohen commented on #130
If someone needs my db to debug this, I would be happy to share it.

Do you think it comes from the db or something else?

[2016-01-27 13:59] natcohen commented on #130
BTW for me the new 0.9.0 solved my issue...

[2016-01-27 14:22] garrensmith commented on #130
Brilliant. Thats good to hear.

[2016-01-27 14:22] #130 closed

[2016-01-28 12:49] yattias opened #152 "How can I query for unique array elements across DB?"
Hi,

Every doc in my database has a ``tags`` property which consists of an array of strings. Different docs can contain the same tags.

For example:

[code]

What I need to do is to collect all unique tags across all docs.

Should I be using ``$elemMatch`` for this instead of a design doc? If so could you please provide an example? @nolanlawson mentioned a while back ``$elemMatch`` in #46 so I wan

[2016-01-28 13:20] garrensmith commented on #152
$elemMatch is working now and should help you here.

[2016-01-28 13:42] yattias commented on #152
Hey @garrensmith I forgot to post my question in the issue. I just updated it.

What I need to do is to collect all unique tags across all docs. Is $elemMatch the operation of choice in such a case? How would I go about using it to query for unique tags across user docs? Thank you.

[2016-01-28 14:11] garrensmith commented on #152
You cannot do that via pouchdb-find. Best to use a map-reduce view for that.

[2016-01-28 16:03] paliari commented on #142
I'm working in the same project of @dflourusso, and i'm getting this problem too.
See bellow two examples. The first one is about use *$in*, and the second is which @dflourusso had mentioned.

[code]

[2016-01-28 16:06] yattias commented on #152
Okay that's what I suspected. Thank you.

[2016-01-28 16:06] #152 closed

[2016-01-28 17:09] garrensmith commented on #142
You need another selector. This blog post explains it in more detail http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find

All misspelling thanks to my iPhone

[2016-01-28 17:38] paliari commented on #142
Tank you, it is working now.

[2016-01-28 17:39] #142 closed

[2016-01-29 09:50] ronyrun commented on #118
thank you GarrenSmith I'm gonna test it now.

[2016-01-29 12:18] agozie opened #153 "TypeError: Cannot use 'in' operator to search for 'startkey' in undefined(…)"
I upgraded to 0.9.0 from 0.7.0. I started getting this: `TypeError: Cannot use 'in' operator to search for 'startkey' in undefined(…)` for this query :
 `db.find({
        selector: {
          tID: this.test.tID,
          due: {
            $exists: true
          },
          terms: {
            $exists: true
          }
        }
      })`
What am I doing wrong please?

[2016-01-29 12:52] garrensmith commented on #153
I'm not sure. If you could add a failing test in a PR I can then take a look.

All misspelling thanks to my iPhone

[2016-02-03 01:40] ashvinsrivatsa opened #154 "Queries returning result sets larger than ~128 documents fail on Chrome 49+"
Chrome 49+ seems to have [introduced limitations on the number of IndexedDB queries that can be in flight at any given time](https://codereview.chromium.org/1511973004) (if I'm reading the Chromium repo right: in 49, the limit is 128; [in 50, the limit is upped to 256](http://codereview.chromium.org/1525243002)). This causes `.find()` to choke when returning result sets that have more documents th

[2016-02-03 10:42] garrensmith commented on #154
Thats that is really helpful. I'll take a look when I can. Otherwise
@nolanlawson might have a good answer.

On Wed, Feb 3, 2016 at 3:40 AM, ashvinsrivatsa <notifications@github.com>
wrote:

[2016-02-05 18:02] bahmutov opened #155 "$or is not working on the demo examples"
Hi,

Great demo at http://nolanlawson.github.io/pouchdb-find/ but here is a weird thing.
`$and` seems to work fine, for example
[code]
but if I replace `$and` with `$or` then I get index error (even though both indices are there)
[code]
Error
[code]

[2016-02-07 20:35] mfilotto commented on #141
Could this feature fit in the actual code ? Or would it need a complete rewrite ?

[2016-02-11 20:27] mfilotto commented on #141
@nolanlawson For you what would be the best way to implement that feature ? A merge with quick-search plugin maybe ?

[2016-02-12 14:14] martinwoitzik opened #156 "0.9.0 $exists no longer working"
Hi there,

I made an update to v0.8.0 and also to 0.9.0 and after updating the module I can no longer query my database with '$exists: true' queries. It always shows the following error message: "Error: couldn't find a usable index. try creating an index on: title. Make sure that only $eq, $gt, $gte, $lt, and $lte are used for the indexed fields.(…)"
That's weird because checking for the appropria

[2016-02-12 14:16] martinwoitzik commented on #156
Until 0.7.0 the queries worked fine!

[2016-02-12 14:33] garrensmith commented on #141
@mfilotto for Cloudant/CouchDB $text uses a Lucene backend. We would have to find an equivalent for the frontend to build it on top of. Not the easiest task. I think we will first focus on getting standard pouchdb-find out of beta first.

[2016-02-12 14:35] garrensmith commented on #156
You need another selector. See this blog post for more details
http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find

On Fri, Feb 12, 2016 at 4:16 PM, Martin Woitzik <notifications@github.com>
wrote:

[2016-02-12 14:57] martinwoitzik commented on #156
Which one do I have to take? I read the article but it doesn't cover anything on '$exists' ?!
I don't want to look for a specific title, just all articles sorted by title / ascending or descending.

[2016-02-12 15:11] martinwoitzik commented on #156
Ok, now I seem to have found it:
[code]
It looks really weird to me but it works.

[2016-02-13 16:53] martinwoitzik opened #157 "Combining multiple selectors makes the query really slow"
Hi there,
I'm developing an app with Ionic where you can filter different kind of lists. The list of items was saved via PouchDB and has about 20.000 JSON-entries - each with all kind of attributes like title, description, color, year, type, manufacturer etc.
Unfortunately the filtering of items takes really long when I add more than one filter-attribute. For example I want to sort the list by tit

[2016-02-13 17:03] #156 closed

[2016-02-13 18:28] nolanlawson commented on #155
The issue here is the `debut` selector, which can't work with the `['series', 'debut']` index because `series` is first, not `debug`. In this case, the user would indeed be expected to create an index on `debut`.

[2016-02-13 18:28] #155 closed

[2016-02-13 18:29] nolanlawson commented on #154
Sounds like the easiest fix would be to wait for Chrome 50. Either that, or PouchDB core would need to be modified to do a `getAll` when that's available, rather than multiple `get`s. Either way, I'm disappointed in this change, because it's going to break for a lot of PouchDB users.

[2016-02-13 20:47] ashvinsrivatsa commented on #154
Looks like this has been reverted in Chrome 49+ (see [Chromium bug 584768](https://code.google.com/p/chromium/issues/detail?id=584768), where localForage seems to have run into a similar problem), so I guess this should be a non-issue by the time 49 hits stable later this month.

Might still be worth keeping this issue open in case Chrome or another browser implements a similar throttle at some po

[2016-02-14 08:53] mfilotto opened #158 "Modifier for $regex"
Would be nice to have a way to set case insensitive modifier with $regex
A mango DSL limitation I guess ?

[2016-02-14 11:29] garrensmith commented on #158
It should be standard regex. So pouchdb-find is JavaScript regex and mango is erlang regex. So that should work. If it doesn't a failing test would really help us fix it.

All misspelling thanks to my iPhone

[2016-02-14 21:02] mfilotto commented on #158
Here is the code to do the exact test they have in Mango
[code]

[2016-02-15 10:05] garrensmith commented on #158
That regex is how erlang does it. For that to work in pouchdb you need to follow these rules

https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions#Advanced_searching_with_flags

[2016-02-15 20:35] mfilotto commented on #158
You're right the right pattern would be more like `/mario.*/i`
The problem is that RegExp constructor splits modifiers/flags from the rest of the pattern :
`new RegExp(pattern[, flags])`

So maybe pouchdb-find could extract that part from `userValue` and call the constructor with modifiers here :
https://github.com/nolanlawson/pouchdb-find/blob/0458b74d445457c55bc01096a19c3e35e6115045/lib/adapters

[2016-02-15 20:43] martinwoitzik commented on #157
Does anyone have a suggestion on this issue?

[2016-02-16 01:00] akircher opened #159 "Problem with $ne and $or"
This doesn't work as a selector
`{_id:{$ne:this._id}, state:this.state}`
//no results

also this workaround doesn't work
`{$or:[{_id:{$lt:this._id}}, {_id:{$gt:this._id}}], state:this.state}`
//no usable index even though I have indexes on _id, state, and ['_id', 'state']

so I have to do two separate queries, which does work properly
`{_id:{$lt:this._id}, state:this.state}` and `{_id:{$gt:this._i

[2016-02-16 04:25] nolanlawson commented on #157
The problem with joining selectors in `pouchdb-find` is that it will run one selector on the database, and the other in-memory. I believe you can structure your query such that the most expensive selector is run first (and therefore not in-memory), but you may need to use `$and` in order to get this to work.

BTW if you enable debug mode, you can see how the query is being compiled, which gives yo

[2016-02-16 06:57] garrensmith commented on #158
Nice catch. This is a nice first fix if you want to do the work? I'm happy to help you where you need.

[2016-02-16 09:51] martinwoitzik commented on #157
I tried the $and operator. But it doesn't seem to improve anything. No matter which selector I put first.
I also read about $and in the Cloudant Documentation and it says that you don't have to set it explicitly because it will be applied implicitly for multiple selectors.

Are there any other options I could try?

[2016-02-16 11:10] mfilotto commented on #158
@garrensmith OK I'm on it

[2016-02-16 19:20] inexorabletash commented on #154
Yep, it's reverted - sorry about that.

Note that the limit was applied to the number of transactions, not requests. So multiple `get` requests vs. `getAll` should be completely orthogonal here (even if it wasn't reverted).

[2016-02-17 18:54] nolanlawson commented on #157
My suggestion would be to use pouchdb-find only for the thing that's indexed, and then do the other stuff in-memory yourself using JavaScript. Otherwise add a new index on `[year, title, rating]`.

TBQH the fact that pouchdb-find does stuff in-memory that the user can just as easily do him/herself in JavaScript was perhaps a design failure, because it hides aspect of the query that will inevitably

[2016-02-18 16:24] natcohen opened #160 "Find relational object"
I was wondering if it's possible to find a relational object? Let's say I have the following objects:

{name:'Joe',
type:'Person',
age:32,
job:'PL'}

{type:'Jobs',
language:'English',
PL:'plumber',
EL:'electrician',
...}

Is it possible to find Joe with the attribute job:'plumber'?

[2016-02-19 06:03] EuAndreh commented on #160
Well, as far as I know, that is not possible in the way you are seeking (making some sort of SQL-like JOIN).

I see 2 solutions to your problem:
1. Make two queries
2. Put 'plumber' in the 'Joe' document, instead of 'PL'

[2016-02-19 20:33] natcohen commented on #160
@EuAndreh thanks...that's what I feared! Your first solution makes it very difficult to manage a clean query and your second solution wouldn't allow me to use different languages.

Is there any plan with couchdb 2 to implement a sort of join?

[2016-02-20 01:33] mfilotto commented on #158
@garrensmith need help, I have a bad time running tests.
They reach my couchdb but fail with error 'Something wrong with the request'
Any idea ?

[2016-02-20 08:16] 5amfung commented on #143
@dwilt Did it work after you cleared?

[2016-02-20 14:56] garrensmith commented on #158
You need to use CouchDB 2.0 or if you using docker from `klaemo/couchdb:2.0-dev`. You most have only 1 node running ideally on port `15984` You also need to enable cors by running this https://github.com/nolanlawson/pouchdb-find/blob/master/bin/enable-couchdb-cors.sh

[2016-02-20 16:37] garrensmith commented on #160
The best way to do a join is via a Map/reduce view
http://www.cmlenz.net/archives/2007/10/couchdb-joins

On Fri, Feb 19, 2016 at 10:33 PM, natcohen <notifications@github.com> wrote:

[2016-02-20 20:35] 5amfung opened #161 "createIndex() does change even the design document already existed."
It seems like when `createIndex()` is called, even though the design document already exists, I would still get a change notification from `changes()`.  According to the explanation in README.md, I thought `createIndex()` doesn't do anything if the design doc already exists.  I also notice that more rows are created in my indexeddb and the `seq` is also increased.

[code]

[2016-02-21 05:17] ashleybrener opened #162 "pouchdb-find not available on bower.io"
Please can you publish on bower.io for package manager installation.

when searching `pouchdb-find` the response is:

[code]

Thank you.

[2016-02-21 22:31] mfilotto commented on #158
@garrensmith ok I'll try this config

[2016-02-22 00:39] nolanlawson commented on #162
`bower install pouchdb-find` works fine for me. I'm using bower v1.7.7. Try updating Bower or maybe `bower cache clean`?

Also just FYI, most JavaScript library authors are starting to move away from Bower and toward npm. `pouchdb-find` is also available via npm.

Closing, please reopen if still an issue.

[2016-02-22 00:39] #162 closed

[2016-02-22 00:40] nolanlawson commented on #160
You may also want to look into relational-pouch: https://github.com/nolanlawson/relational-pouch

Closing because I think this is out of the scope for `pouchb-find`.

[2016-02-22 00:40] #160 closed

[2016-02-22 00:42] nolanlawson commented on #143
I'm going to close this, because this seems more like a Cordova issue than a PouchDB issue. The callstack you posted is clearly all `cordova.js`, so most likely that's where the issue is. If you could set a breakpoint there and figure out what `r.type` is and why it's undefined (maybe using unminified code would help?) then that would be helpful. Else I'm not sure how to reproduce.

[2016-02-22 00:42] #143 closed

[2016-02-22 01:04] dwilt commented on #143
Sounds good. Things are working correctly now. I don't think the clearing did it but I think updating my local Cordova did.

[2016-02-22 20:54] 5amfung opened #163 "No view error the first time, but works fine afterward."
I'm trying to following the suggestion in http://pouchdb.com/2014/05/01/secondary-indexes-have-landed-in-pouchdb.html to start building the index as soon as the index is created.  However, I always get the following error first time when indexeddb is empty.  It's always the first time with an empty indexeddb.  It works afterward.

[code]

Code

[code]

[2016-02-25 17:39] dsmeltz opened #164 "Field dot notation does not seem to work."
I have the following fields specified:

`"fields": ["_id", "info"]`

and receive the following as a result against a local PouchDB:

[code]
"info" is an object with multiple properties on it and the entire object is returned. That's what I would expect.

When I try to do this, against the same PouchDB:

`"fields": ["_id", "info.lastSaved"]`

I don't get anything except "_id":

[code]

[2016-03-02 14:08] nolanlawson commented on #163
Yeah, seems like a bug. Thanks for reporting!

[2016-03-03 01:22] andrewdep commented on #153
I'm seeing this too... Did you figure out what was going wrong, @agozie?

[2016-03-03 13:03] brandonaaron commented on #141
I'd actually like to see this at least as a pass-through option for those backends that support it and where pouchdb is just being used as a client.

[2016-03-03 13:16] garrensmith commented on #141
It should in theory just pass those through to the backends already

On Thu, Mar 3, 2016 at 3:03 PM, Brandon Aaron <notifications@github.com>
wrote:

[2016-03-04 06:26] natcohen commented on #158
@mfilotto any news about this?

[2016-03-07 20:35] mfilotto commented on #158
@natcohen I'm stuck with the docker env.
I can't have `klaemo/couchdb:2.0-dev`working to replay all the tests

[2016-03-07 21:27] natcohen commented on #158
@mfilotto unfortunately not into docker stuff...can't you install the normal version? Or even test it on cloudant? Maybe @garrensmith can help with docker

[2016-03-07 22:08] mfilotto commented on #158
Here is my reflexion for that feature.
It would be nice to add modifiers but I face several interrogations.

My first approach is to parse the given string and extract the modifier if the pattern of the string is something like `'/pattern/modifier'`

This could be easilly done. But it is semanctically wrong in regard to the [RegExp Javascript object](https://developer.mozilla.org/en-US/docs/Web/Ja

[2016-03-07 23:20] natcohen commented on #158
I think that it would be a good start to accept the literal notation

[2016-03-09 10:23] noradaiko opened #165 "can't use index with $or operator"
Getting usable index not found error on running the code below:

[code]

[code]

It seems that `$or` is incorrectly determined as a field.
Or, am I using `$or` wrong way?

[2016-03-09 10:30] garrensmith commented on #165
Thats a bug. Thanks for reporting.

On Wed, Mar 9, 2016 at 12:23 PM, Takuya Matsuyama <notifications@github.com>
wrote:

[2016-03-10 20:48] ronyrun opened #166 "Size of the library"
Hello,

I'm using a cordova application with this lib and the command : bower install pouchdb-find

Install a package of 2,50 MB.
Is there a way to reduce the size (with getting rid of the www folder in the bower lib)?

This is impacting strongly the cordova mobile app size

Regards,
Ron

[2016-03-15 04:02] natcohen opened #167 "$text temporary alternative"
$text is not available and it might take some time (https://github.com/nolanlawson/pouchdb-find/issues/141) so I was wondering if we could come up with a temporary solution. Instead of looking in the text, would it be possible to create $any which would look into all the fields?

Just throwing the idea, I don't even know if it's possible...

[2016-03-15 04:44] natcohen opened #168 "Can't find usable index (even with indexes created)"
I've created index but pouchdb-find doesn't find it (Error: couldn't find a usable index.)...when I put getIndexes() I get all my indexes.

My index has 5 fields and my search uses only two of them.

Another strange behavior is that when I go on my couchDB instance on the index, it doesn't display anything and the "progress circular" continues to move indefinitely.

It used to work but I had to cl

[2016-03-19 13:37] carlosmbolanos commented on #165
Same here.
@noradaiko, Did you find a workaround for this?

[2016-03-20 21:28] noradaiko commented on #165
@carlosmbolanos Using `query` for now

[2016-03-22 23:42] millette commented on #138
Item 3 above ([jira-2928](https://issues.apache.org/jira/browse/COUCHDB-2928)) is fixed in [mango-27](https://github.com/apache/couchdb-mango/pull/27), hourray!

[2016-03-27 16:16] froatsnook commented on #166
Use webpack!

[2016-03-27 16:26] froatsnook opened #169 "Searching for null"
A query like `db.find({ selector: { day: null } })` doesn't work: (TypeError: Cannot use 'in' operator to search for '$ne' in null(…)), whereas a query like `db.find({ selector: { day: { $eq: null } } })` does!

Is this because of the Cloudant query API?  I quickly glanced at the docs and see anything.

Thanks for the library!  I started trying to do it myself (coming from Meteor), and was relieve

[2016-03-27 17:35] froatsnook commented on #169
It seems there are other problems with null.

[code]

[2016-03-28 12:32] garrensmith commented on #169
Those look like bugs. Thanks for reporting. If you could create some
failing tests in the test suite that would be really helpful.

On Sun, Mar 27, 2016 at 7:35 PM, froatsnook <notifications@github.com>
wrote:

[2016-03-28 16:16] nolanlawson commented on #166
Please use npm instead of bower. Bower makes it very difficult for me to slim down the size of packages, because it is basically just a thin layer over Git.

Nearly every Node open-source project is currently migrating from Bower to npm (including Ionic), so please use npm and thus the future-safe bet. :)

[2016-03-28 16:16] #166 closed

[2016-04-01 09:31] telekosmos opened #171 "http://nolanlawson.github.io/pouchdb-find/ issue"
Hi
Dunno whether or not this is the right place to file this issue (sorry if not) but trying a simple `$regex` example on the playground website I am getting:
[code]

using the query
[code]

Cheers!!

[2016-04-04 07:11] garrensmith commented on #171
Hi @telekosmos

you need another selector this [blog post](http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find) will explain it in a bit more details.

[2016-04-10 22:36] andreujuanc opened #172 "Indexes replication issue"
Hello,
I created an index, use it and works perfectly. But then when I tried to sync it gave me an error that i dont have access for that.

Im using pouchdb-authentication and for now all users have all permissions.

What is the correct way to fix this?

- Delete the index after usage so hopefully it doesnt get synced?
- Use Query instead of find?
- Maybe there is a way to use find with preexistin

[2016-04-13 21:35] froatsnook opened #174 "react-native"
Hi,

I got react-native-pouchdb working (i.e. react-native-sqlite-storage as a websql adapter), and now I'm trying to get pouchdb-find working.  The system is quite unstable -- sometimes I can get insert and then a find to work, but other times the database gets locked up somehow.  The only clue I have before just giving up is the following:

[code]

I logged all the transactions and found two sus

[2016-04-14 06:47] garrensmith commented on #174
I think @nolanlawson has some experience with all of this.

[2016-04-15 19:57] renato commented on #157
@nolanlawson It currently runs one selector on the database and the other in-memory, but will it change in the future (passing the `$and` conditions to the backends)?

[2016-04-15 21:47] froatsnook commented on #174
OK with further testing I am still getting this error, but it doesn't seem to affect the stability.  Rather it seems like having more than one database is causing the issue (even with pouchdb-find disabled)!

[2016-04-16 04:15] nolanlawson commented on #174
Sounds like you have uncovered a bug in the SQLite engine for React Native (whatever is under the hood in react-native-sqlite-storage). This is a pretty common occurrence we're run into with SQLite adapters; they're usually very buggy and it isn't until you have a big heavy database like PouchDB that people uncover this stuff.

I'm working on porting [node-websql](https://github.com/nolanlawson/no

[2016-04-16 04:15] #174 closed

[2016-04-16 04:16] nolanlawson commented on #174
BTW the reason that I can confidently say it's not our bug is because PouchDB's WebSQL engine has been confirmed working on an enormous test suite on multiple browsers (PhantomJS, Chrome, Safari) as well as node-websql and [SQLite Plugin 2](https://github.com/nolanlawson/cordova-plugin-sqlite-2). So if another WebSQL engine fails it's almost undoubtedly a bug in that engine.

[2016-04-16 11:33] froatsnook commented on #174
@nolanlawson Thanks for the insight!  I am excited for node-websql in React Native :).

[2016-04-16 17:54] nolanlawson commented on #157
Unfortunately it is modeled after the CouchDB Mango query engine, which does not do the optimization you describe. So the answer sadly is no.

To work around this, you can use map/reduce to index on multiple values in an array (`emit([foo, bar, baz])` and then query those values.

[2016-04-16 18:00] nolanlawson commented on #172
It depends on which kind of backend you're trying to sync with. Keep in mind that Mango queries are only supported in Cloudant, Couch 1.7, and Couch 2.0.

In general, though, it sounds like your particular issue is a 403 related to not having permissions to create _design documents. In those cases the simplest solution is to use filtered replication to avoid syncing _design documents. Hope that he

[2016-04-16 18:00] #172 closed

[2016-04-19 10:14] RaviBolla opened #176 "can't use index with $in"
I am using following code

                db.createIndex({
                    index: {
                        fields: ['name']
                    }
                }).then(function (result) {
                    return db.find({
                        "selector": { "name": { "$in": ['test', 'sample'] } },
                        "fields": ["name", "title"]
                    }).then(result =

[2016-04-20 22:45] castrinho8 commented on #164
Yes, it doesn't work, eventually you can query only by "_id" and then use javascript [filter function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter) to select "info.id"

[2016-04-21 12:27] Antoniomm80 commented on #157
Hi all
We were facing a similar issue. We managed to fix it by changing the order of the fields when creating the index.

If we create the index like this

[code]
our find call takes around 30 seconds for retrieving 100 registers but changing the order of the fields array to
[code]
does the trick and the find call only takes 0,4 seconds.

[2016-04-21 13:59] nolanlawson commented on #157
@Antoniomm80 Yes, if you can put your fields that narrow down the number of records _first_, then your query will perform much better. Most likely your chatId narrows down the search field much more than timestamp or type.

[2016-04-23 19:39] nolanlawson commented on #176
Unfortunately the `$in` selector is in-memory only. So to fix this, the best course would be to join two separate queries together using `$eq` instead. (Perhaps joined using `$or`, although I can't recall if that works or not. If not, you can also do two separate `find()s`.)

Closing because this is working as intended per Mango's API, although I admit it's not a great API choice and is terribly c

[2016-04-23 19:39] #176 closed

[2016-04-30 02:53] gustavomick opened #178 "correct way to find _id = uuid Or excluding _design\"
i need to use uuid as id, and as far as could understand i cant use selector._id = {$regex: '^[0-9a-f]'} or something simliar.

which is the right way to get only docs (not design etc)? or this a bug / future feature and till now i have to use query().

i guess i missing something from wiki/documentation so any help regarding this will be great.
thank you

[2016-04-30 03:57] gustavomick commented on #178
well.. now im using uuid.v4().toUpperCase(), so then i can use selector._id = {  $lt: '_' } .. anyway i dont know if there is a better way. thanks.

[2016-05-02 00:59] nolanlawson commented on #178
Yeah, unfortunately the only way is to do `{$gt: '_design/\uffff'}` etc. Sorry about that.

[2016-05-02 00:59] #178 closed

[2016-05-02 20:22] gustavomick commented on #178
np. nice work thanks.

[2016-05-03 07:11] garrensmith commented on #178
The latest version of CouchDB mango supports doing a query with just `$regex`. I'm working on a patch to add that support to PouchDB-find. Will hopefully have it done soon.

[2016-05-04 19:20] #171 closed

[2016-05-06 19:17] jonotron opened #180 "FIELD WOOO! is output on console"
This little beauty logs to console when my `$elemMatch` query runs :)

https://github.com/nolanlawson/pouchdb-find/blob/64f5c7b7fb2552405a426e4664cbbb6157e1f23f/lib/adapters/local/find/in-memory-filter.js#L223

I assume this is non intended.

[2016-05-07 06:58] garrensmith commented on #180
Yes I left that in by mistake. A celebration of getting elemMatch working. You welcome to submit a patch to remove it.

All misspelling thanks to my iPhone

[2016-05-10 06:09] colinskow commented on #168
I ran into this problem too. Your index has to have the exact same fields as your query. This makes it run most efficiently.

Another option (what has worked for me) is one field for index:

[code]

[2016-05-10 06:16] colinskow commented on #167
Right now you can use [PouchDB Quick Search](https://github.com/nolanlawson/pouchdb-quick-search), although it doesn't integrate with find.

I don't think it would be too difficult to wire that plugin to $text search.

[2016-05-10 06:44] colinskow opened #181 "PouchDB LiveFind discussion"
As a front-end app developer, I want the UI to be in sync with database changes and I want that to happen with the least possible coding on my part. The main problem with CouchDB queries is they don't update themselves when the database changes.

I want to be able to subscribe to a query and see updates every time a change impacts the results.

It is fairly simple to do a `db.allDocs()`, subscribe

[2016-05-10 07:05] garrensmith commented on #181
@colinskow I think something like this has just landed in CouchDB https://issues.apache.org/jira/browse/COUCHDB-2988 the next step would be to integrate it into PouchDB.

[2016-05-10 07:45] colinskow commented on #181
@garrensmith That's great news! The only possible problem I see with that implementation is how to know when a doc that used to match the query changes and no longer matches. CouchDB would need to remember the previous changes it has sent me and alert me when I need to remove a doc from the list.

Right now my idea is to watch all changes and test each one against the selector. This is simple on a

[2016-05-10 14:27] ramonsan commented on #161
The same happens to me, result returned is "exists" but it stills incrementing _rev_ of _design doc.

[2016-05-11 08:12] colinskow opened #183 "Can't get $regex to work at all..."
From Nolan's demo. I am following Cloudant's example of using `{_id: {$gt: null}}`. What am I doing wrong?

[code]

returns...

[code]

[2016-05-11 08:13] garrensmith commented on #183
Can you try again without the sort part.

On Wed, May 11, 2016 at 10:12 AM, Colin Skow <notifications@github.com>
wrote:

[2016-05-11 08:15] colinskow commented on #183
Same problem :-(

[2016-05-11 08:16] garrensmith commented on #183
These might help you
https://github.com/nolanlawson/pouchdb-find/blob/master/test/test-suite-1/test.regex.js

On Wed, May 11, 2016 at 10:15 AM, Colin Skow <notifications@github.com>
wrote:

[2016-05-11 08:28] colinskow commented on #183
OK, got it working. But I think it is a bug that `_id: {$gt: null}` is throwing a no index error. `_id` shouldn't need an index since it is default.

[code]

[2016-05-11 08:30] colinskow commented on #183
Thanks @garrensmith !

[2016-05-11 08:31] garrensmith commented on #183
No problem, I'll keep this open and take a look when I can.

On Wed, May 11, 2016 at 10:30 AM, Colin Skow <notifications@github.com>
wrote:

[2016-05-11 08:32] colinskow commented on #158
For a local PouchDB query you can simply pass in a Javascript object `/mario/i`. I'll ask Cloudant support how they handle flags since it isn't in the documentation.

[2016-05-11 08:35] garrensmith commented on #158
I don't think we can. Underneath Regex for Cloudant Query/CouchDB mango is
just erlang regex. So it will always be a little different compared to
javascript regex.
https://github.com/apache/couchdb-mango/blob/master/src/mango_selector.erl#L496

On Wed, May 11, 2016 at 10:32 AM, Colin Skow <notifications@github.com>
wrote:

[2016-05-11 09:04] colinskow commented on #158
I verified that I can pass in a literal Javascript regex object to a local `pouchdb-find`, but of course that won't work with Cloudant or CouchDB.

[2016-05-12 09:51] #180 closed

[2016-05-14 23:31] mfilotto commented on #161
Same here rev is incremented each time.
As I sync with a remote db, I also have many push and pull because of that issue.

For now I filter the push this way (not sure it's the better way)

[code]

[2016-05-15 00:31] colinskow commented on #181
Good news... I got it working!!! And it was only a couple dozen lines of code. I plugged directly into `adapter/local/find/in-memory-filter.js` and I filter each change through the in-memory query there.

I'm working on writing tests now to make sure everything performs as expected. This is going to make it a lot easier to write front-end apps with PouchDB and the UI will effortlessly stay in sync

[2016-05-15 12:31] garrensmith commented on #181
Awesome. Nice work.

On Sun, May 15, 2016 at 2:31 AM, Colin Skow <notifications@github.com>
wrote:

[2016-05-15 23:50] nolanlawson commented on #168
Yep, I think we can safely close this. It's a confusing aspect of Mango, but this is just how it's designed unfortunately. 😕

[2016-05-15 23:50] #168 closed

[2016-05-15 23:51] nolanlawson commented on #167
I think given the size and complexity of `$text` and the fact that it can never really match what Mango is doing, I think it's better to just say that pouchdb-find will not support it.

We could maybe write a version of pouchdb-find in the future that pulls in pouchdb-quick-search and wraps `$text` around it, but I would move that to a separate module because of the file size increase.

[2016-05-15 23:51] #167 closed

[2016-05-15 23:52] nolanlawson commented on #158
@colinskow That sounds like a reasonable workaround; you can just use regular regexes for local and string regexes for remote. Closing unless someone thinks there's a fix we can reasonably do for this.

[2016-05-15 23:56] colinskow commented on #167
My main use case is to first narrow down the documents that need to be full-text searched with `pouchdb-find`, and then perform a query on those. So `pouchdb-find` would perform a query on the selector, output a list of doc_ids and pass those to `pouchdb-quick-find`.

I could write a plugin to pair the two, but it may require small tweaks to either engine.

[2016-05-16 00:02] colinskow commented on #158
There are two REGEX flags that Erlang and Javascript have in common, `i` for case insensitive and `m` for multiline.

In Erlang this is accomplished by prefixing the regex string with `(?im)`. This is invalid in Javascript and will throw an error. In Javascript there is no way to set flags directly from the regex string.

What I want to do for local is search for `(?[flags])` at the beginning of t

[2016-05-16 00:02] colinskow commented on #158
See: http://stackoverflow.com/questions/37157723/cloudant-query-couchdb-mango-how-to-set-regex-flags

[2016-05-16 00:08] colinskow commented on #168
@nolanlawson what you need to do is make the README documentation clear about what is valid and what is not. Write an index trouble-shooting guide. Cloudant's docs are quite confusing.

I've spent hours pulling my hair out and I am still not personally clear on how it works.

[2016-05-18 18:33] natcohen commented on #153
Have the same problem here...

[2016-05-18 22:13] natcohen commented on #168
@colinskow thanks for the tip... I've tried your technic of indexing each field but I still ran into troubles. For example:
`selector: {
      $or: [
        {type: 'animal'},
        {type: 'human'}}
      ],
      name:'John'
    }`
does't work.
@nolanlawson The problem here is that I have 20 fields and it would be impossible to make indexes for all the possible combinations. Do you have any sol

[2016-05-19 02:00] colinskow commented on #168
@natcohen try creating a free Cloudant account and run your queries there. Cloudant is the reference implementation so if it works there but not with a local `pouchdb-find` then file a bug.

[2016-05-19 04:05] natcohen commented on #168
@colinskow Thanks, that's a good idea but it would be better to understand what pouchdb-find is capable of...

[2016-05-19 09:20] colinskow commented on #181
DONE!!! But I'd love your feedback. Especially I'd like to figure out how to get the build size down since LiveFind shares a lot of code with Find.
https://github.com/colinskow/pouchdb-live-find

[2016-05-19 09:20] #181 closed

[2016-05-19 16:26] FlamesoFF opened #185 ""couldn't find a usable index""
`this.storage.find({
                selector: {type: 'task'}
            }).then(callback).catch(callback);`

[2016-05-19 21:52] nolanlawson commented on #185
Yes, you probably need to add an index on `type`. Please check http://nolanlawson.github.io/pouchdb-find/ for a demo and tutorial, thanks.

[2016-05-19 21:52] #185 closed

[2016-05-19 21:54] nolanlawson commented on #168
@colinskow Yes, I hope that at some point we can modify the PouchDB docs/guides themselves to include pouchdb-find docs. That can happen after pouchdb-find gets pulled in to core.

Cloudant query also keeps changing, and so it'll be good to keep the docs up to date. Honestly I mostly learned Cloudant query by writing this thing. :/

[2016-05-19 21:56] nolanlawson commented on #158
Hmmm, I'd kinda prefer to have a more foolproof method. Can we accept a JavaScript regex and then convert it to a string and possible an Erlang regex string as necessary? When you call `.toString()` on a JavaScript regex, it seems we can determine whether it's case-insensitive or not:

[code]

[2016-05-19 22:53] colinskow commented on #158
I think the goal is to have the behavior as similar as possible across both Cloudant/CouchDB 2.0 and local PouchDB.

In Cloudant:

[code]

will do a case insensitive search for "mario". We should translate this to Javascript so it will work on a local `pouchdb-find`. And if the user passes a Javascript RegEx object to a remote `find`, we can check for the `i` and `m` flags and convert it to an Erl

[2016-05-19 23:24] colinskow commented on #164
Is there a test for this in the test suite?

[2016-05-19 23:29] colinskow commented on #164
This is the offending function: https://github.com/nolanlawson/pouchdb-find/blob/master/lib/utils.js#L142

It has no support for dot notation. I'll take care of it over the next few days and do a PR with test added.

[2016-05-20 10:35] colinskow commented on #164
OK, I've got this fixed. But the tests from master are a mess and are failing all over the place. We need to get these working so I can verify that my PR doesn't break anything.

[2016-05-20 10:45] colinskow commented on #183
I tested this on Cloudant and the behavior is exactly the same. It is not a PouchDB Find issue. The problem was sorting on a non-primary index. I removed the sort and it works fine.

[2016-05-20 10:45] #183 closed

[2016-05-20 10:49] garrensmith commented on #164
I have a branch and PR for the test fixes. But I'm waiting for some bug fixes in mango first.

All misspelling thanks to my iPhone

[2016-05-20 10:57] colinskow commented on #164
Shall I submit the PR anyway? I've unit tested it manually and it seems to work fine.

[2016-05-20 11:03] garrensmith commented on #164
Yes please that would be awesome. But we will probably only be able to merge once we fixed master. 

All misspelling thanks to my iPhone.

On Fri, May 20, 2016 at 3:57 AM -0700, "Colin Skow" <notifications@github.com> wrote:

Shall I submit the PR anyway? I've unit tested it manually and it seems to work fine.

—
You are receiving this because you commented.
Reply to this email directly or view it

[2016-05-22 00:44] nolanlawson commented on #79
tracking in https://github.com/pouchdb/pouchdb/issues/5192

[2016-05-22 00:44] #79 closed

[2016-05-22 00:50] #164 closed

[2016-05-22 00:50] nolanlawson commented on #164
fixed in https://github.com/nolanlawson/pouchdb-find/pull/189

[2016-05-24 03:54] natcohen commented on #168
@nolanlawson by specifying in the doc what can be done with the current version you would avoid a lot of filed issues. It will also make it more accessible to people... I guess. I'm still not clear with what can or can't be done.

[2016-05-24 07:46] garrensmith commented on #168
@natcohen and @colinskow you have good points. It would be great if you could help with the documentation. We using CouchDB master branch as reference as it has a few more fixes than Cloudant. Cloudant will roll all those fixes into prod soon.

[2016-05-24 10:26] colinskow commented on #168
Mango doesn't have very good documentation and it takes some trial and error to figure out. Basically the search indexes spit out map reduce keys which are arrays. Your query must be translatable into a `start_key` and `end_key` based on that index or it will either fail, or fall back to an inefficient memory query of the entire db.

This article sheds a little bit of light on the underlying syste

[2016-05-24 10:33] garrensmith commented on #168
I tried to explain it a bit more here
http://www.redcometlabs.com/blog/2015/12/1/a-look-under-the-covers-of-pouchdb-find

On Tue, May 24, 2016 at 12:26 PM, Colin Skow <notifications@github.com>
wrote:

[2016-05-24 16:37] nolanlawson commented on #168
BTW the next version of pouchdb-find will provide warnings rather than errors when there's no usable index.

[2016-05-26 20:22] FlamesoFF opened #193 "Strange error on the test page"
![image](https://cloud.githubusercontent.com/assets/5371279/15588854/3fea77ae-2390-11e6-850b-26b909900ee5.png)

I just can't understand what's wrong here.

[2016-06-07 00:13] nolanlawson opened #196 "HTTP tests broken in master: 500 "No DB shards could be opened""
(Follow-up to https://github.com/nolanlawson/pouchdb-find/pull/194)

This looks like a regression in CouchDB master. It happens totally randomly.

I can occasionally reproduce this locally by running in Ubuntu Xenial doing:

[code]

/cc @rnewson @kxepal Can't actually repro anymore unfortunately, will keep trying. 😕

[2016-06-07 14:39] #196 closed

[2016-06-08 21:22] FlamesoFF opened #198 "Optional fields not so optional as they seems..."
**Example:**
This code works well:
`db.find({
  selector: {name: 'Mario'},
  fields: ['_id', 'name'],
  sort: ['name']
});`

And this does not:
`db.find({
  selector: {name: 'Mario'}
});`

Error:

Documentation says:

[2016-06-09 09:43] garrensmith commented on #198
What error do you get?

On Wed, Jun 8, 2016 at 11:22 PM, Artem <notifications@github.com> wrote:

[2016-06-09 14:30] ronyrun opened #199 "[Browser] - Pouchdb-find not working on ~5.4.0 versions."
Hello I made some tests, and pouchdb-find is properly working with the verson 5.3.2 of PouchDB
With ~5.4.0 version I got this error on Browser :
`Cannot read property 'Promise' of undefine`

![image](https://cloud.githubusercontent.com/assets/7273443/15933279/6aec4f34-2e5f-11e6-9dc5-e370934f0714.png)

[2016-06-09 14:35] garrensmith commented on #199
Good catch. I think I know what the issue is. We need to add the pouchdb-promise library in and remove the pouchdb/extras/promise. Would you like to do that or should I?

[2016-06-09 14:37] ronyrun commented on #199
I can try :D
let me do it now

[2016-06-09 14:40] ronyrun commented on #199
bower                        ENOTFOUND Package pouchdb-promise not found

Do you know how I can add pouchdb-promise ?

[2016-06-09 17:01] FlamesoFF commented on #198
@garrensmith Refresh page.

[2016-06-10 09:55] gimox commented on #199
+1 for a good solution

[2016-06-12 16:24] nolanlawson commented on #199
This should be fixed in 0.10.0.

@ronyrun you may have to do another `npm install` in order to update dependencies

[2016-06-12 18:48] ronyrun commented on #199
I tried with 0.10.0. as well I encounter the same error.

[2016-06-12 18:55] nolanlawson commented on #199
Can you provide steps to reproduce? Our tests are passing against 5.4.x.

[2016-06-12 19:00] garrensmith commented on #199
I think this is a bower issue. 

All misspelling thanks to my iPhone.

On Sun, Jun 12, 2016 at 8:55 PM +0200, "Nolan Lawson" <notifications@github.com> wrote:

Can you provide steps to reproduce? Our tests are passing against 5.4.x.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-13 06:59] gimox commented on #199
try with 0.10 but same error.

[2016-06-13 07:47] ronyrun commented on #199
@nolanlawson do you know a CDN for the last version of pouchdb-find ? I'm trying to implement a jsbin to show you the error.

[2016-06-13 08:28] garrensmith commented on #199
This should work https://npmcdn.com/pouchdb-find@0.10.0/dist/pouchdb.find.js

On Mon, Jun 13, 2016 at 9:47 AM, ronyrun <notifications@github.com> wrote:

[2016-06-13 12:19] nolanlawson commented on #199
Looks like we forgot to build before publishing to Bower. 10.0.1 ought to fix that.

[2016-06-13 12:23] gimox commented on #199
updated but same error
[code]

[2016-06-13 12:24] nolanlawson commented on #199
OK yeah I see this code hiding in `dist/pouchdb.find.js`:

[code]

Not sure where it came from, but it needs to be corrected. I have to go to work; no time for this now unfortunately.

[2016-06-13 12:27] gimox commented on #199
yeah. Waiting for fox...

[2016-06-13 12:41] garrensmith commented on #199
I think its from here https://github.com/pouchdb/upsert/blob/master/index.js
I'll try and get a fix for it.

On Mon, Jun 13, 2016 at 2:27 PM, Giorgio Modoni <notifications@github.com>
wrote:

[2016-06-14 00:02] cdata commented on #199
👍 just noticed this broke https://github.com/polymerelements/app-pouchdb

[2016-06-14 05:21] natcohen commented on #138
Is it true that selectors have to match EXACTLY (no less no more) the index fields? If it is then it is clearly something I dislike... There is no reasons why we can't search for less fields than the index!

[2016-06-14 07:12] garrensmith commented on #138
Hi @natcohen, that is not the case. PouchDB-find will try and match on less depending on which fields you use. Then with pouchdb-find 0.10 and above if it cannot find an index it will default to using `_all_docs` and do your query in memory. It will give you a warning if it does that because it can be slower.

This seems a bit harsh. I would recommend reading this [blog post](http://www.redcometla

[2016-06-14 12:53] jl- commented on #199
As PouchDB.utils, PouchDB.ajax, PouchDB.Errors are [deprecated](https://github.com/pouchdb/pouchdb/releases/tag/5.4.0) since pouchdb5.4.0,
guess I need to do this for now
[code]
Waiting for the fix

[2016-06-14 14:56] garrensmith commented on #199
I've pushed 0.10.2 to npm. Could you all test that version. I'm not sure how to publish to bower. @nolanlawson could you publish to bower for me.

[2016-06-14 14:56] nolanlawson commented on #199
Pushing to bower is just a matter of `npm version patch` and then `git push origin master --tags`. Bower works off of tags.

[2016-06-14 14:57] garrensmith commented on #199
Great then it is deployed to bower as well

On Tue, Jun 14, 2016 at 4:56 PM, Nolan Lawson <notifications@github.com>
wrote:

[2016-06-14 14:58] nolanlawson commented on #199
Cool, checked the source and it seems `PouchDB.utils` is no longer used. Please reopen if not fixed. Thanks @garrensmith !

[2016-06-14 14:58] #199 closed

[2016-06-14 15:01] natcohen commented on #138
@garrensmith Sorry, I didn't mean to be harsh! Thanks for the link, it was really helpful to understand...

Btw would it be possible to index all fields separately so queries with $or could be done by multiples queries and then be aggregated? And $and queries could be also done separately and results not in all queries might be removed?

It's hard to come from the SQL world and see such limitation

[2016-06-21 08:29] andpor commented on #174
what is the version of sqlite-storage you are using? Can you send more information or file a bug with cordova-sqlite-storage which is the baseline for the react-native impl? Will try to fix it...

[2016-06-23 03:04] llin96 commented on #158
I test this and it works

[code]

[2016-07-12 00:49] santclear opened #201 "How to configure PouchDB-Find in a Ionic 2 project?"
How to configure PouchDB-Find in a Ionic 2 project? In the following address is shown the configuration of PouchDB and it works: https://github.com/nolanlawson/pouchdb-ionic-2-typescript-demo. Best regards.

[2016-07-12 01:49] nolanlawson commented on #201
I'm not sure, sorry. Probably you need to follow similar steps to the steps for PouchDB, becase there are no up-to-date TypeScript bindings for pouchdb-find. Sorry about that.

[2016-07-12 02:23] santclear commented on #201
No problem, I would have knowledge to contribute. Unfortunately, I am newbie. I will try to work with Map/reducin and wait for a day is available. Thanks for the feedback.

[2016-07-12 15:18] nolanlawson commented on #201
Hey @santclear, I'm sorry to hear that. To be clear: neither PouchDB nor pouchb-find has up-to-date TypeScript definitions, so the whole challenge is just to use these libraries with `any` types so that TypeScript doesn't complain. Unfortunately I don't know TypeScript well enough to be able to advise how to do that.

Can you let me know what's unclear about the example code that makes it so you c

[2016-07-12 22:18] santclear commented on #201
Before, sorry. My English is not very good. I want to correct what I said before. I do not have enough knowledge to contribute, as I am beginner. I will provide a minimized project that you should understand what I'm doing.

[2016-07-13 00:05] santclear commented on #201
Example code: [Screenshots](https://goo.gl/photos/zwKSmLQBLBgPqoAh9)
Best regards!

[2016-07-13 01:43] nolanlawson commented on #201
Nice, I see the error:

    Error TS2309: An export assignment cannot be used in a module with other exported elements.

Unfortunately I have no idea what to do. In normal ES6 you'd do:

[code]

I have no idea what TypeScript wants here, though.

[2016-07-13 01:45] nolanlawson commented on #201
Oh, I see what's going on here. It's because we're trying to be too clever with the `exports` object. We can fix this.

[2016-07-13 01:51] nolanlawson commented on #201
#202

[2016-07-13 01:59] nolanlawson commented on #201
More thorough explanation of what's happening here:

1. `exports` is assumed to be a normal JS object by CommonJS, so `exports.foo = 'bar'` is the same as `module.exports = {foo: 'bar'}`
2. TypeScript's ES6 module resolver does not support this pattern
3. `PouchDB.plugin(obj)` takes a normal JS object
4. So, any PouchDB plugins authored using this `exports.foo` style will fail to be imported by Ty

[2016-07-13 03:04] blakeembrey commented on #201
@nolanlawson Sorry, I landed here through Twitter (Horse.js - https://twitter.com/horse_js/status/753051315358478337). I just wanted to quickly help out where I could though. Those manual definitions aren't entirely correct in TypeScript, they should be written as `const main: any; export = main`. This would make the import "any". That's because this module has no "default" export. To import this

[2016-07-13 03:08] nolanlawson commented on #201
@blakeembrey Thanks for hopping in! 😃 I think you're right; it looks like I totally misdiagnosed this error. Chalk it up to me knowing nothing about TypeScript, but foolishly trying to help out. So the issue here is mixing DT definitions with custom definitions, not with expecting `exports` to behave like an object?

[2016-07-13 03:12] blakeembrey commented on #201
Correct 😄 You can definitely mix two definition files together, you just can't mix those two different styles of exports because they fundamentally conflict - `export =` is meant to be the only export of a declaration, akin to `module.exports =` in CommonJS. This is supported by TypeScript because there's no alternative in ES6 where all imports are fundamentally treated like an object anyway (even

[2016-07-13 03:29] nolanlawson commented on #201
Ahhh, that makes sense. Thanks! :) FWIW, I will probably try to merge https://github.com/nolanlawson/pouchdb-find/pull/202 anyway because I find the whole `exports.foo =` thing to be weird and unintuitive. Furthermore it looks like it would solve this particular issue, because in this case the default export (of a regular object) is actually the intended behavior.

[2016-07-13 03:46] blakeembrey commented on #201
@nolanlawson To quickly clarify (or maybe because I don't understand your last sentence), "default export" in this case is an ES6 construct (`export default`). TypeScript supports this as the `exports.default` property in CommonJS. For a module that does `module.exports = non_object_value`, it should be imported using the `import x = require('x')` syntax (E.g. CommonJS-exported functions are commo

[2016-07-13 03:48] blakeembrey commented on #201
Since it's much easier to explain/demo in code, see http://www.typescriptlang.org/play/index.html#src=export%20default%20function%20()%20%7B%7D%0A%0Aexport%20function%20test%20()%20%7B%7D vs http://www.typescriptlang.org/play/index.html#src=function%20test%20()%20%7B%7D%0A%0Aexport%20%3D%20test

[2016-07-13 03:54] blakeembrey commented on #201
That's not to say you can't mix and match style of the definition when you're writing it youself though. You just need to match it back up. For example, see https://github.com/typed-typings/npm-content-type/blob/master/index.d.ts#L15-L17 and https://github.com/jshttp/content-type/blob/master/index.js#L54-L55 which would be how you'd also work with this library.

[2016-07-13 04:02] santclear commented on #201
Very thanks! I'm not in my house, I will check when I access my computer.
It is very motivating to receive such care. This Framework is amazing!
Best regards!

[2016-07-13 15:25] nolanlawson commented on #201
@blakeembrey Sorry, I misunderstood because I had never seen `export = foo` or `import foo = require('foo')` before. Is this TypeScript-only? Is there a name for this module format?

When I said "default exports", yes, I was talking about `module.exports` in CommonJS. In any case, it looks like we're going to merge #202 which should hopefully make it clearer what the intended behavior is (which in

[2016-07-13 15:27] nolanlawson commented on #201
Closing because #202 is merged, although we can still use this issue for discussion. @santclear You should be able to do this now:

[code]

^ This is the canonical way to use PouchDB + plugins from TypeScript.

[2016-07-13 15:27] #201 closed

[2016-07-13 15:33] nolanlawson commented on #201
@santclear This is fixed in pouchdb-find 0.10.3.

[2016-07-13 16:08] santclear commented on #201
@nolanlawson I can’t thank you enough, all of you are amazing!
Later, I going to perform a test, when I arrive at home.
Best regards!

[2016-07-13 16:37] blakeembrey commented on #201
@nolanlawson Try https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md? It's generally pretty straight-forward - normal ES6 semantics (`export {}`/`import {}`, `export default`/`import x from`) but also has a backward-compatible CommonJS mode (`export = function`, `import x = require('x')`).

[2016-07-14 00:18] santclear commented on #201
Hello @nolanlawson unfortunately did not work. Follow the evidence [on the link](https://goo.gl/photos/DWvZjsJScV35CaGt9)

[2016-07-14 00:37] blakeembrey commented on #201
@santclear I tried to describe this for you above (see https://github.com/nolanlawson/pouchdb-find/issues/201#issuecomment-232242517). You need to patch the type definition in the way I described. Or you can use `typings install pouchdb-find=common~any` to do it for you.

[2016-07-14 00:59] santclear commented on #201
Sorry @blakeembrey, I had not understood before. Thank you for the feedback!
Now, I followed your suggestion. Even so, the error occurred, as shown in third image of the previous link.
When the plugin() method is called, the exception is thrown: Property plugin does not exist on type 'PouchDB'.
Best regards!

[2016-07-14 01:05] blakeembrey commented on #201
Thanks, sorry. The fix was correct for this library, but I overlooked it's a PouchDB definition issue. I'd guess the definition your using is out of date or incorrect. For instance, there's no `plugin` method in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/pouchDB/pouch.d.ts. It says in the header it's for 0.1, but PouchDB is on like v5 now, so it's well incorrect. I'd recommend

[2016-07-14 01:44] santclear commented on #201
Sorry for my trouble @blakeembrey. See, if I understood. It is to reinstall PouchDB. Thus the plugin method will be available. Would it be this?
If it is that, Did not work.
These are the versions after new installation:
"pouchdb": "^5.4.5",
"pouchdb-find": "^0.10.3"

[2016-07-14 01:58] blakeembrey commented on #201
It's nothing to do with the JavaScript versions, it's the type definition you installed for PouchDB. Definitions and source code are independent here, and your error is a compilation error (caused by the definition) and not a run-time error (which would be caused by JavaScript).

[2016-07-14 14:47] santclear commented on #201
Got it. Thank @blakeembrey and @nolanlawson. For now, I will work with Map / Reducin. In parallel I'm going to study JS 6, PouchDB and typescript to soon contribute to your community.

[2016-07-14 15:13] nolanlawson commented on #201
Yeah, having out-of-date DefinitelyTyped definitions is almost worse than having no definitions, because it cases a lot of user confusion. There's been some work by the community to update the typings, but nothing shipped yet. Wondering if we'd be better off asking DT to just remove the defs.

[2016-07-14 18:37] blakeembrey commented on #201
Do you know if the PouchDB authors (or you also?) are willing to have definitions inline with the repository? It should be deleted from DefinitelyTyped until it's fixed, but perhaps PouchDB could also present an attractive alternative? I don't use it personally but I'm happy to help at a high level.

[2016-07-14 18:43] nolanlawson commented on #201
@blakeembrey We had some discussion in https://github.com/pouchdb/pouchdb/issues/5389 but ultimately decided against putting any definition files in the project itself. Our hope is that the TS community will rise to the occasion; we already have a #typescript channel in our Slack where it seems some work is getting done, although I'm not sure what the current status is.

[2016-07-16 16:45] santclear commented on #201
Solve!
@nolanlawson and @blakeembrey, Following his directions and with some research, I discovered how to work on a project Ionic 2 com PouchDB-Find. The sample project can be downloaded [here](https://github.com/santclear/ionic-pouchdb-friends)
Thank you for all!

[2016-07-26 08:57] opaulet92 opened #204 "Cannot sort when find a document"
Hello,

I tryed a lot of things but I have the save problem. When I execute this next code, I have this problem :
Error: Cannot sort on field(s) "reportId" when using the default index

[code]

I look at indexes and I have two. First one is the created index for reportId, and second one is the _all_docs.

When I look at the code from pouchdb-find, I see when the _all_docs index is defined, I canno

[2016-07-26 11:58] FlamesoFF opened #205 "How to create views with pouchdb-find?"
For example:
I have DB with 1000 documents. 500 of them with "class": "person" and other 500 with "class": "company". How to create view in PouchDB to list companies or persons? Not an query, but a cached view.

Or can someone provide any link to a manual how to do this? Googled it  - no results.

[2016-07-27 15:38] nolanlawson commented on #204
This looks like a bug. Can you write a test case to reproduce (e.g. a live HTML file)? Glancing at your code I feel like we already have a number of tests that cover this case, so I'm not sure why it's failing.

[2016-07-27 17:35] refrigerator opened #206 "`TypeError: cannot convert undefined or null to object`"
I'm trying to run the following query:

[code]

but am getting a `TypeError: cannot convert undefined or null to object` error. I get the same error when I change the selector to other things too.

I'm using Angular 2 (but PouchDB-find was working previously for me) - anyone know what's going on? Thanks!

[2016-07-28 01:47] nolanlawson commented on #205
Just create an index on `class` and then query `{"class": {$eq: "person"}}`. This is the fastest way to do it in pouchdb-find currently; there is no faster way other than separating your typed documents into multiple PouchDBs, which is actually a smart choice given how IndexedDB works under the hood.

[2016-07-28 01:47] #205 closed

[2016-07-28 01:55] nolanlawson commented on #206
What indexes have you added? Can you provide a live test case by any chance?

[2016-07-28 02:08] refrigerator commented on #206
I have a bunch of different indexes on various combinations of fields and also, interestingly, an index on no fields:

![image](https://cloud.githubusercontent.com/assets/983210/17198834/34e43c28-542d-11e6-90e7-26642d8aaabf.png)

Could this be causing the error? I'm not sure how I ended up with this index, but I've been running various PouchDB-find queries, some of which were probably in an incorr

[2016-07-28 02:13] refrigerator commented on #206
Actually just deleted that index and ran the query and it worked! That's probably what's causing the error then :) Still not sure how that index got created though...

[2016-07-28 02:30] refrigerator commented on #206
Okay just did some fiddling around and this resulted in the empty index being created:

[code]

and as before, normal queries started resulting in the `TypeError: cannot convert undefined or null to object` error.

[2016-07-28 22:10] refrigerator opened #207 "Very slow queries on ~20k documents"
My local database has about just under 20k documents and I'm trying to run simple queries using `pouchdb.find()`. The query time seems to be very long though - just searching on one field at a time using `$eq`, it took 7 seconds on field A and 40 seconds (!) on field B, with indexes having already been created for both these fields.

Am I doing something wrong here?

[2016-07-29 00:31] nolanlawson commented on #206
We probably need to protect users from creating empty indexes; it might cause bizarre behavior.

[2016-07-29 00:44] nolanlawson commented on #207
Probably not; queries in pouchdb-find are just very slow due to the overhead of creating a second PouchDB database. Unless it gives you a `warning` in the output object about the indexes you created, meaning it's not actually using the index and is instead doing it all in-memory (after reading the entire database into memory)?

[2016-07-29 00:47] refrigerator commented on #207
Ah okay. No - no warnings about indexes. Do you have any ideas for how to speed these queries up? If my understanding is correct, using normal map/reduce views won't be any quicker than Pouchdb-find, right?

[2016-07-29 00:53] nolanlawson commented on #207
Yeah they are both basically the same under the hood.

One way to speed it up is to use multiple PouchDBs instead of a single one. E.g. break them up by type. This allows IndexedDB to parallelize operations under the hood, and avoids the overhead of the map/reduce indexer scanning a lot of documents that don't `emit()` anything.

Another way is to use another database besides PouchDB for your quer

[2016-07-30 18:15] refrigerator commented on #207
Great, thanks! Querying using `array.filter` takes a few milliseconds on 20k docs and doesn't seem to hog up too much memory so I think we'll just use javascript for now.

[2016-08-01 07:50] opaulet92 commented on #204
I cannot get you a live HTML file because I use angularJs and a lot of modules I will show you.

I'm using these dependencies :
- "angular-pouchdb": "^4.3.0",
- "pouchdb-find": "0.10.3"

In my app.js, I wrote :
`
var app = angular.module('moduletest.app', [
  ...
  'pouchdb',
  ...
`

In my file that I use pouchDB object :
`
angular.module('test.reports').service('TestReports', TestReports);
TestR

[2016-08-02 20:20] nolanlawson commented on #204
I'm sorry, without a live test case it's really hard to deduce the error. I'll try to reproduce your error when I get a chance but I can't promise I'll be successful.

BTW I notice that you are using deferreds and that in your first code sample you forgot a `return` inside the promise chain. You may benefit from this article on promises which points out some common promise mistakes and how to fix

[2016-08-03 07:29] opaulet92 commented on #204
Yes, I know. You'll try to reproduce and we'll see.
Just to understand with promises. You told me I forgot a return inside the promise chain, but I don't understand even if your post "we-have-a-problem-with-promises" is very good. I have this code :
`
dbPouchDB.createIndex(...).then(function(result) {
   return dbPouchDB.find(...);
}).then(function(result) {
   ...
}).catch(function(err)) {
});
`

[2016-08-06 22:20] nolanlawson commented on #204
@opaulet92

[code]

I'll try to reproduce but it's much easier when you provide a live test case, e.g. a JSBin.

[2016-08-08 23:32] jtlindsey opened #209 "Multi-selectors"
Hello, how do i use multi-selectors? When i have a db with 3 records type=post and 4 records type=comment and try something like this:

[code]
or

[code]
or
[code]
I always get the last selector and not both. Using the current pouch core query, the following produces what I'm looking for:
[code]
So I also tried this with the plugin, but it throws an error because "$or" isn't allowed operator:
[cod

[2016-08-09 15:56] nolanlawson commented on #209
This is not a valid JS object:

[code]

Most JS engines will just ignore the first `type` definition and use the second one.

As for your question, yes, the real fix here is to support `$or`, which is not currently supported. You can also fire off two simultaneous queries and then use `Promise.all()` to combine them.

[2016-08-09 20:40] #209 closed

[2016-08-10 01:58] keyiis opened #210 "Add total_rows for pagination purposes"
I can't fint 'total' in find result,only 'docs' returned.i hope:
1、add 'total_rows','offset' to find result.
2、use same result format like pouchdb.query.

[code]

[2016-08-10 15:19] nolanlawson commented on #210
I could have sworn we supported `total_rows`, but checking the latest version of the code, I don't see it in there. Yeah, we should support `total_rows`.

[2016-08-12 14:37] opaulet92 commented on #204
Hello,

I found the problem. It was not because I forgot a return (just I forgot it when I wrote this test case).

In fact, It is a problem from 'sort' parameter on find method. For example, here is an example that It's works :
`dbPouchDB.find({
            selector: {
              updateDate: {$gt: ''},
              type: 'report',
              customerId: String(customerId),
              del

[2016-08-16 16:36] drschwabe opened #211 "db.find not throwing error when no index"
According to the README if db.find is not able to find an index, it will throw an error.  However, on my setup with a fresh database that has no indexes, this basic find example does not throw an error:

[code]
Instead, it returns the requested docs.

[2016-08-16 16:49] garrensmith commented on #211
That behavior is correct and was a new change. I must have forgotten to update the readme.
All misspelling thanks to my iPhone

[2016-08-16 17:09] drschwabe commented on #211
Ok, then how would you recommend creating indexes 'on demand' ?   Originally I was planning to use this now defunct error handler to accommodate that.  Ex:

[code]

[2016-08-16 17:12] garrensmith commented on #211
I wouldn't create indexes on demand. Rather define the indexes you need up front. That is a much better way of working.

All misspelling thanks to my iPhone

[2016-08-17 16:01] drschwabe commented on #211
Good tip but for my particular use case I do need them on demand since the selectors are dynamic; unknown in advance.

So then if db.find does not throw an error, then to achieve the goal of an on demand index it seems db.createIndex would need to be called in advance of every db.find.

[code]

Just seems messy though cause; say you suddenly have 100 async requests now instead of performing a one

[2016-08-17 16:28] nolanlawson commented on #211
If you have lots of indexes and they are dynamic, then you may want to look into Dexie.js or YDN-DB instead of Pouch. Pouch is not really optimized for the case where you have lots and lots of secondary indexes.

[2016-08-17 16:50] drschwabe commented on #211
Ok, thanks for the recommendations.   Not necessarily a lot of indexes though - in the above example, the assumption is all 100 async requests have the same selector ie: { color: 'green' }.  My app just needs to create a handful of dynamic selectors; and want to ensure all subsequent db.finds perform fast.

But I'll close this until/unless I find the above workaround is not performant; I haven't d

[2016-08-17 16:50] #211 closed

[2016-09-06 11:28] hdoedens commented on #204
Hi, I am having the same issue. My code:
[code]
I have read your blog about promises and returns and I think the code above should work. I also incorporated @opaulet92 suggestion by adding `chapter: {'$exists': true}}` to the selector.

@nolanlawson could you point me in the direction of the right solution to this? Manually sorting afterwards is really not an option.

[2016-09-06 11:58] garrensmith commented on #204
You need to add book to your index and then sort on both

All misspelling thanks to my iPhone.

On Tue, Sep 6, 2016 at 1:28 PM +0200, "Harm Doedens" <notifications@github.com> wrote:

Hi, I am having the same issue. My code:

dbFactory.createIndex({
    index: {
        fields: ['chapter']
    }
}).then(function(result) {
    return dbFactory.find({
        selector: { book: 'levenslied', chapter:

[2016-09-06 12:36] hdoedens commented on #204
thanks @garrensmith for your suggestion. I have added `book` to my index and I am sorting on both now:
[code]
But now I am getting the same error as in #153
Any Ideas?

[2016-09-06 14:15] hdoedens commented on #204
@garrensmith adding book to the index and sort, was not the solution. I found #140 to state that `'$exists': true` != `'$gt': null`. So I replaced the former with the latter and now it works!
Thanks anyway for your suggestion!

[2016-09-06 14:15] garrensmith commented on #204
Great. Can you close the issue

On 6 September 2016 at 16:15, Harm Doedens <notifications@github.com> wrote:

[2016-09-06 18:19] hdoedens commented on #204
Sorry I can't close it, I don't see a close button, maybe the OP can.

Also I think the workaround is quite awkward and may be a bug?

[2016-09-07 13:51] opaulet92 commented on #204
Hello,
I'll come back in fiew weeks. I'll try to find out my problem with the other answers.

[2016-09-08 10:27] dolfje opened #212 "Sorting with selector $exists uses the wrong index"
When trying to sort on a field that is only selected by the $exists selector, gives an error.

[2016-09-08 10:47] dolfje commented on #212
I think the checkFieldsLogicallySound is wrong. There is checking if the index can be used. But that only works when the indexes are one of '$eq', '$gt', '$gte', '$lt', '$lte'. So $exists isn't added there. I've added $exists temporarely to logicalMatchers and my function works. Although I have to be honest, I don't have enough knowledge about the code base, to know the implications.

Also the cod

[2016-09-08 12:36] dolfje opened #213 "Multiple sort with exists fails"
After #212, we still can't use multiple fields to sort:

[code]

I've added the following just before startKey.push and now it works

[code]

[2016-09-08 12:43] dolfje commented on #212
And also $regex should be added to the logicalMatchers variable

[2016-09-08 16:37] dolfje opened #214 "Multiple $or inside $and not possible"
The code is written to reduce all $and into an array in mergeAndedSelectors. Although there is one use-case where this behaviour is not wanted.

With the following query:

[code]

ps. There are also problems with userOperatorLosesPrecision and checkFieldsLogicallySound not supporting $and and $or.
ps2. It would be awesome if this construction just triggers 2 queries and then merge them.

[2016-09-08 16:52] garrensmith commented on #214
I think Nolan and I are short on time. You are welcome to submit a PR for
this

On 8 September 2016 at 18:37, dolfje <notifications@github.com> wrote:

[2016-09-20 15:04] opaulet92 commented on #204
All is fine.

Thanks.

[2016-09-20 15:04] #204 closed

[2016-09-20 19:54] raydaly commented on #198
If the query specifies a sort like this:
[code]
where sort is an empty array, then an error of "Cannot convert undefined or null to object".

The error is generated when creating "var isDecending" where requestDef.sort is tested. Adding a test of
[code]
after "requestDef.sort &&" solves the problem when sort is an empty string. This was discovered when working with Polymer's app-pouchdb-index.

Wh

[2016-09-28 06:00] klanjabrik commented on #210
A workaround for this issue:

https://github.com/nolanlawson/pouchdb-find/blob/master/dist/pouchdb.find.js#L1669

[code]

[2016-10-06 22:26] txchen opened #215 "[Node.js] $lt with limit not working"
[code]

Code is like this. I have a collection indexed by ts. Every time I fetch more, it gives me 4 records instead 5.

Versions:
"pouchdb": "^6.0.6",
"pouchdb-find": "^0.10.3",

Server:
pouchdb-server@1.2.0

[2016-10-07 12:13] realappie commented on #201
Nothing seems to be working with typescript 2.0, typings has been removed and Im wondering how I would use pouchdb-find with a typescript 2.0 (Ionic 2.0.0-RC0 project)

[2016-10-07 12:43] vohtaski commented on #201
Same here (problem with Ionic 2.0.0-RC0). I use this to require pouchdb:
[code]
and get the following error:
[code]

[2016-10-07 12:48] vohtaski commented on #201
pouchdb version: 6.0.6

[2016-10-07 13:17] santclear commented on #201
@realappie
You should be working with Ionic to generate an application for mobile. You must use the SQLite 3, because in mobiles the indexed database will not work.
I abandoned my Ionic project. Initially I thought it would be possible to create a fully hybrid application, running on mobile and web. However, with the new update of Ionic RC.0 this is no longer possible.
You must make a decision. If

[2016-10-07 13:48] realappie commented on #201
@vohtaski Yeah Im getting really tired of that error, it makes me so angry the ionic team decided to switch rollupJS which is causing all of this chaos and drama.

@santclear Why is it no longer possible? Is it because of a change in ionic it self or what is the main reason?

![pouch db support table](http://image.prntscr.com/image/7984f16884334d6b95187c69d8c2e275.png)

[2016-10-07 14:25] santclear commented on #201
@realappie
When an Ionic project is compiled and installed on the phone, the operating system will not use a browser. He will use the WebView, which does not support indexed database.
Before the RC.0, you could even import into your project the PouchDB, yet the indexed database only worked if the project was running on a web server. However after compile and install the mobile database indexed sto

[2016-10-09 14:25] nadinugraha opened #216 "Sort not working if the field(s) in the 'sort' is not available in all documents"
I have documents with different type/structure of JSON in pouchdb. For example for **ITEMS** I have the following JSON structure:
             {
                       "_id": "14f2e2dc-73a6-4cce-ba1a-27ce149caaa4",
                       "itemname": "Iphone 7",
                       "UOM": "unit",
                       **"docType": "titems",**
                       "_rev": "8-dd27c7573c888cd500

[2016-10-10 07:24] realappie commented on #201
@santclear I think indexDB is supported by android 4.4 and up and iOS 8 and up.

[2016-10-10 11:36] santclear commented on #201
Ok, for some unknown reason, I could not run PouchDB in my mobile application. If you can, please share your knowledge with a sample application.

[2016-10-10 13:47] realappie commented on #201
@santclear Which android version are you running? Because android 4.4 & up stopped using crappy webview and uses the chromium engine.

[2016-10-10 23:11] jlcarvalho commented on #201
@realappie the problem isn't related with indexeddb. The bundle process of Ionic 2 changed in RC0.

@santclear this [repo](https://github.com/danbucholtz/ionic-third-party-lib-mega-test) uses PouchDB on RC0.

For more info see the issue https://github.com/driftyco/ionic/issues/8356.

[2016-10-11 01:34] santclear commented on #201
@jlcarvalho
Wow, it worked Ionic 2 RC.0 + PouchDB running on my Android! My previous statements were wrong. When I started researching what database to use in my application, some developers said they would not work. For fear I ended up not using.
Thank you very much!

[2016-10-13 18:34] kabus202 commented on #201
@santclear can you explain what you did?

[2016-10-13 19:32] tubauwe commented on #201
I'm trying to solve nearly the same problem: Using Ionic 2 RC.0 + PouchDB + Crypto-Pouch as plugin. I managed to use PouchDB, but I have no luck to use Crypto-Pouch. I tried similar to [this repo ](https://github.com/matheusgarcez/ionic-2rc-pouchdb/)(mentioned by jlcarvalho), but get the following error in console:
`Uncaught TypeError: Cannot read property 'listenerCount' of undefined    _stream_r

[2016-10-14 00:55] santclear commented on #201
I said I could, with the help of @jlcarvalho use the Ionic 2 RC0 with pouchdb. I also tried to enable plugins, but I could not use :-(
I'm still trying, if anyone finds out before me, please share the knowledge with the community.

[2016-10-14 14:08] vohtaski commented on #201
thanks @jlcarvalho
it's all working now

[2016-10-15 21:42] santclear commented on #201
@vohtaski
Besides Pouchdb, you could configure the plugins it? If so, please share how you did.

[2016-10-16 07:23] imatefx commented on #201
@tubauwe Did you manage to solve this error?
`Uncaught TypeError: Cannot read property 'listenerCount' of undefined _stream_readable.js:38
`

[2016-10-16 20:29] tubauwe commented on #201
No, I couldn't manage to solve this error until now.

[2016-10-17 13:15] vohtaski commented on #201
@santclear

I use `pouchdb-find` plugin and it's working in the browser. Did not test yet on mobile app...

Require it like this:
[code]

package.json:
[code]

And use a custom `rollup.config.js`. Basically, the important things are `useStrict: false` and added `namedExports` to solve the issue with a lib that pouchdb uses.
[code]

[2016-10-17 13:26] santclear commented on #201
Wow, very nice. My rollup settings were equal, but I was adding the plugin wrong.
I cranked up the plugin you wrote:

import pouch from 'pouchdb';
import pouchdbfind from 'pouchdb-find';
pouch.plugin (pouchdbfind);

Besides pouchdb-browser, pouchdb works only.

Now it's working! Thank @vohtaski

[2016-10-17 23:42] saniyusuf opened #217 "Ionic Typescript Issue"
Hi,
I am trying to use this plugin with Ionic via a typescript based project, I keep getting the following error  **Error TS2307: Cannot find module 'pouchdb-find'** from the typescript compiler.

Any ideas?

[2016-10-18 15:24] jo opened #218 "$eq shortcut nested inside $or not supported"
This does not work in pouchdb-find, while it works against the http adapater in CouchDB 2.0:

[code]

See https://github.com/jo/pouchdb-find/commit/46e4454324749bf5e97f73027cd29814f7d983f0 for failing test.

[2016-10-19 19:49] tubauwe commented on #201
In my code, I'm using 'import' instead of 'require' without any success. In my custom rollup.config.js is identical to the one mentioned above. But there's the again the following error:
`Uncaught TypeError: Cannot read property 'listenerCount' of undefined`

[2016-10-20 11:47] valepu opened #219 "and/or with regex on same field"
Hello,
I have tried to use both an $and and an $or including a set of conditions ($regex) all on the same field, but it appears that only the last regex gets used (both using $and and $or)

Here's a plunker showing the issue: http://plnkr.co/edit/9N0xuC6k5iwPrY8QMca2?p=preview
This should show no results but it shows all of them instead, if you move the 2nd regex at the end it'll show only 1 resul

[2016-10-22 18:58] hadrien-toma commented on #201
In an Ionic 2 RC0 project, I tried the following code adapted from the answer of @vohtaski :
`import Pouchdb from 'pouchdb'`
`import PouchdbFind from 'pouchdb-find'`
`Pouchdb.plugin(PouchdbFind)`

I have a build success but the browser fails by giving this error :
`des.js:7 Uncaught TypeError: Cannot read property 'utils' of undefined(…)`

Any idea of what is going on?

[2016-10-23 07:26] vohtaski commented on #201
If I remember well, you should upgrade in your `package.json`
the `rollup-plugin-node-builtins` version as:
[code]

[2016-10-23 07:56] hadrien-toma commented on #201
Thank you very much, it works!

[2016-10-23 08:12] hadrien-toma commented on #217
Hi @saniyusuf !

Do you have seen this issue #201 ? It helped me to configure an Ionic 2 RC0 based project but maybe some manipulations could be useful in an other TypeScript based project.

[2016-10-23 14:34] saniyusuf commented on #201
Doing **typings install pouchdb-find=common~any** did the trick for me

[2016-10-23 14:57] saniyusuf opened #220 "400 Referer header must match host"
I get this error when using pouch DB find. My allDocs request for the same path works without issues. My pouch find request looks like this this.db.find({
      selector: {_id: ''}
    });

any help?

[2016-10-23 14:58] #217 closed

[2016-10-24 11:00] numerized commented on #201
@saniyusuf superb way for Ionic Beta.

[2016-10-25 16:43] nolanlawson commented on #201
Is this working now or is there still work for pouchdb-find to do? I'm a bit confused from all this discussion. :confused:

[2016-10-25 16:44] nolanlawson commented on #220
I believe this occurs when you use CouchDB 1.x, which doesn't support Mango queries. Please reopen if I have misdiagnosed.

[2016-10-25 16:44] #220 closed

[2016-10-25 17:29] santclear commented on #201
@nolanlawson
I am using in my Ionic2 project RC.1 the PouchDB + PouchDB-Find. Both run both mobile and in the browser.
Who still have doubts, just check as configured [here](https://github.com/danbucholtz/ionic-third-party-lib-mega-test)
and import like this:
[code]

[2016-10-25 18:17] saniyusuf commented on #201
@nolanlawson that worked for us without any extra addon .

[2016-10-25 19:53] hadrien-toma commented on #201
@nolanlawson : I tested the configuration given by @santclear and it also worked for me, without any special step.

[2016-10-25 21:44] ronag opened #221 "CouchDB 2.0 Support"
Can this be used against CouchDB 2.0?

[2016-10-25 22:55] numerized commented on #161
Same here, rev is incremented and has been responsible of a huge drop in performance over time as a query _bulk_docs?revs=true appeared out of nowhere, deleting all the revisions from the created indexes solved my problem

[2016-10-26 02:05] nolanlawson commented on #218
I don't believe $or is supported. There should be an open issue but I didn't find one.

[2016-10-26 11:00] EuAndreh commented on #221
Sure!

Just to clear confusions: pouchdb-find is the PouchDB equivalent of [CouchDB's Mango](https://github.com/cloudant/mango), which means that is was created with the purpose to maintain compatibility with CouchDB.

You can use it with CouchDB 2.0 or a Cloudant database. If you use pouchdb-find with CouchDB 1.x, you'll be able to you it also, but only to sync the data: since Mango was added onl

[2016-10-26 15:45] garrensmith commented on #221
That is correct. Pouchdb-find is a plugin to pouchdb. So pouchdb will
replicate with an old CouchDB 1.x but you cannot run a mango query against
it.

On 26 October 2016 at 13:00, André Miranda <notifications@github.com> wrote:

[2016-10-26 15:50] garrensmith commented on #221
It works with CouchDB 2.0

All misspelling thanks to my iPhone.

On Tue, Oct 25, 2016 at 11:44 PM +0200, "Robert Nagy" <notifications@github.com> wrote:

Can this be used against CouchDB 2.0?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-29 01:06] #221 closed

[2016-10-30 19:24] ronag opened #222 "fulltext search?"
https://cloudant.com/blog/enable-full-text-search-in-apache-couchdb/#.WBZIu6OZNE4

Could we get support for the `_search` endpoint? and `indexes` in design documents.

[2016-10-31 00:13] nolanlawson commented on #222
This could be done with Lunr.js ala pouchdb-quick-search but would be a lot of work and potentially a lot of code to bundle on the client side.

[2016-11-02 20:41] malfusion commented on #163
Is this bug fixed? I keep running into the same issue once in a while. Is there any way we can be notified when the index views are ready to be used? A hook maybe?

[2016-11-03 09:18] jofomah opened #224 "Is Couchdb 2.0 currently supported??"
Hi,

I have the following questions, because i am considering using Pouch-Find with CouchDB 2.0.

- Is CouchDB 2.0 currently supported??
- Does PouchDB allow one to query for a document and linked documents like MapReduce?

I.e if i have a Car document that is linked to CarType document via `car.type == carTypeID` can i return both documents in one query using PouchDB find???

[2016-11-03 09:46] EuAndreh commented on #224
Hi @jofomah

1. See #221
2. As far as I understand, you can use the `$or` operator like:
[code]

[2016-11-03 16:21] nolanlawson commented on #224
There is no `include_docs`, no, sorry. You can manually link _ids back to documents though.

[2016-11-04 12:42] jofomah commented on #224
@nolanlawson @EuAndreh thanks

[2016-11-04 12:42] #224 closed

[2016-11-04 15:55] mkazlauskas opened #225 "Descending sort only works with first field"
This doesn't work:
[code]

This does:
[code]

My `field1` is
[code]
so I'm not sure whether it actually sorts by both.

I would omit `field1` from the selector but then it doesn't work at all (error), saw an issue on that here already.

[2016-11-06 23:14] stickbyatlas commented on #131
I'm working on an app where I'm seeing similar behaviour.

The stack is Cordova (iOS) + WKWebView + PouchDB (adapter: cordova-sqlite)

I have a prepopulated database that I import, and then in the `copyDatabaseFile` callback I immediately try to access the database I created with:

`db = new PouchDB('database.db', {adapter: 'cordova-sqlite'});`

`db.post()` and `db.get(<id>)` both work fine, so I

[2016-11-08 16:41] nolanlawson commented on #225
I’m not actually sure if Mango supports mixed ascending/descending, but we should check pouchdb-find’s output compared to CouchDB 2 to confirm. This could definitely be a bug.

[2016-11-08 16:50] nolanlawson commented on #131
Did you test on Android as well? Did you test with other adapters? That could help me narrow down the source of the bug.

Prepopulated databases ought to be possible with the cordova-sqlite adapter; see [this article](https://pouchdb.com/2016/04/28/prebuilt-databases-with-pouchdb.html).

[2016-11-09 00:23] natcohen commented on #141
I've tried to use this plugin with a remote DB and it doesn't seem to work (I don't get any feedback - no result, no error). He is what I've tried:

    this.cloudant.find(
                {"selector": {"$text" : "some text"}}
            ).then((result)=> {
                console.log(result);
            }).catch((error)=> {
                console.log(error);
            }
    );

In Cloudant I

[2016-11-13 12:44] Chozzle opened #226 "$in doesn't work with $and"
[code]
Console reads:
TypeError: Cannot use 'in' operator to search for 'startkey' in undefined(…)

However if I change the selector to:
[code]
I get the correct document but with a warning. I'm not sure why I get the warning:
Console reads:
studylist: Object {docs: Array[1], warning: "no matching index found, create an index to optimize query time"}

If I select just the type: word, it works corr

[2016-11-13 17:02] Chozzle commented on #226
Ok, I deleted and recreated the database and all indexes and it fixed both of the above errors. Maybe it is related to: #206  and some malformed indexes I had built previously.

[2016-11-13 17:39] #226 closed

[2016-11-14 03:04] Chozzle opened #227 "$nin doesn't work with _id"
It works with all other fields fine, but has no effect on _id.

[code]
This still selects documents with the ids "list1" and "list2"

[2016-11-16 00:21] chadfawcett commented on #161
I have tested this with connecting to a remote CouchDB and the function is working as expected (not incrementing the revision). So this may only be an issue when creating an index on a local database.

[2016-11-16 02:01] numerized commented on #161
Thanks for the info @chadfawcett for now I'm using @mfilotto push filter and it's perfect.

[2016-11-16 02:50] chadfawcett commented on #161
@numerized I've already been filtering my push, but find it kind of annoying to have so many revisions.

I'm working on a potential fix now.

[2016-11-16 11:17] #161 closed

[2016-11-16 11:20] garrensmith commented on #161
Thanks @chadfawcett for fixing this. I've pushed a new npm version with this fix in.

[2016-11-16 12:06] numerized commented on #161
Cool I'll try it now then

[2016-11-21 12:17] greenimpala commented on #227
Does `regexp` work with _id also? http://plnkr.co/edit/wc4pb0B1Ly7NalaMmNMz?p=preview

This plnkr suggests otherwise :(

[2016-11-24 06:30] rhysdavies1994 commented on #158
thank you @llin96! this may be handy on the readme until a proper solution is implemented?

[2016-11-27 08:27] vahidreza opened #232 "retrieve attachments with find"
hi
how can I retrieve attachments with find plugin?
I have tried using attachments:true,  in the find options but no success.

[2016-12-02 08:26] nolanlawson commented on #232
There isn't any way to do this currently in pouchdb-find; you would need to find the document ID and then do a separate `get()` or `getAttachment()` request. Looking at https://github.com/cloudant/mango it seems there is no explicitly-defined way to get documents or attachments, e.g. there is no `include_docs`.

Perhaps this would be a good opportunity to open an issue on CouchDB/Cloudant to suppo

[2016-12-12 16:32] BigBlueHat opened #235 "Dealilng with Dates"
I work with a good bit of JSON and JSON-LD that use ISO 8601 as the date storage format. When I create indexes in Map/Reduce, I turn the dates into arrays and get these lovely "complex key" indexes where I can group by year, month, day, etc.

I've not been able to sort (heh) how to do that in pouchdb-find/CouchDB mango/Cloudant query since there's no way (that I've found at least) to state that th

[2016-12-13 02:27] nolanlawson commented on #235
The typical way of dealing with this is to use e.g. `new Date().toISOString()` and then do normal lexicographical string comparisons with `$lt` and `$gt`... however I agree it's not very ergonomic.

Looking at [the Mango documentation](https://github.com/cloudant/mango) it doesn't appear to have any concept of a Date, and furthermore this would be difficult to represent in JSON since JSON also doe

[2016-12-13 02:52] BigBlueHat commented on #235
Thanks @nolanlawson. I'll do more digging on that front, and see what I discover.

Consider this closed...for now. :wink:

[2016-12-13 02:52] #235 closed

[2016-12-13 22:16] numerized commented on #216
Hi there, I encounter the exact same behaviour.

[2016-12-14 14:54] yoonwaiyan commented on #212
Any update on this issue? I'm having the same problem here, trying to sort based on a "date" field but getting the same error even after using indexes:

[code]

[2016-12-20 09:21] chrischjh opened #236 "memory usage of find({}).sort()"
Hi there, for the leveldb backend, is the sorting being done in the node.js process memory? for example if I need to sort 5 million data, would it consume too much memory, like 500M or 1G? thanks

[2016-12-20 09:53] garrensmith commented on #236
Sort will be done in memory. I'm not sure what kind of memory consumption will be used. But it would the same as sorting a large number of json objects. 

All misspelling thanks to my iPhone.

On Tue, Dec 20, 2016 at 11:21 AM +0200, "Chris Chen" <notifications@github.com> wrote:

Hi there, for the leveldb backend, is the sorting being done in the node.js process memory? for example if I need to so

[2016-12-21 16:24] 0x1mason opened #237 "find does not work with some unicode characters"
Given doc
[code]
query `find({selector: { foo: 1, bar: "とう)京(きょう::\u0123\u0923\u0387;"}})` returns `[]`.

However, given doc
[code]
query `find({selector: { foo: 1, bar: "trucker's atlas"}})` works as expected.

[2016-12-22 14:42] numerized commented on #235
Hi there

I use too new Date().toISOString() for all my dates.

But I can't sort with this parameter.

THIS WORKS :
[code]

THIS DOESN'T :
[code]

my index is :

[code]

Any question welcome I'm going to use unix timestamps and report then.

[2016-12-22 16:35] numerized commented on #235
The workaround I've found is the following:

[code]

[2016-12-30 12:53] wgrhstf opened #238 "Querying linked Documents?"
I' quite new to NoSQL and so this ist maybe nonsense, but is ist possible to use pouchdb-find on linked documents?
In my CouchDB (which functions as master for a replicated PouchDB on the Client), there is a view to retrieve linked Documents. But I did not find a way to query this view, or query linked Documents directly via pouchdb-find.

[2017-01-03 10:50] RonCan opened #239 "Custom sort apart from ascending descending"
I want to sort the results of couchdb query a.k.a mango queries based on custom sort. I need custom sort because if `Status` can be one of the following:

1. Active = 1
2. Sold = 2
3. Contingent = 4
4. Pending = 3

I want to sort the results on `Status` but not in an alphabetical order, rather my own weightage I assign to each value which can be seen in the above list. Here's the selector for `Sta

[2017-01-03 10:51] RonCan commented on #239
@nolanlawson This needs your kind attention

[2017-01-04 02:02] nolanlawson commented on #238
No, there is currently no such feature in pouchdb-find.

[2017-01-04 02:15] nolanlawson commented on #239
Unfortunately if you want to do a custom sorting in the way you describe, you would need to read the entire database in-memory (e.g. with `allDocs()`) and do the sorting in JavaScript. Sorry about that!

[2017-01-04 02:15] #239 closed

[2017-01-05 06:47] wgrhstf commented on #238
Oh. I understand. So I'll find a workaround. But is this something on the roadmap for future releases?
If pouchdb-find is going to replace map/reduce retrieving linked documents would be quite crucial.

[2017-01-06 20:02] htrampe commented on #212
Same problem here - any ideas?

[2017-01-09 16:32] t-knapp opened #240 "$in maybe not working"
Hello,

I have an Index over two fields.
`localDB.createIndex({index: {fields: ['fieldName', 'value']}})`
This works. I can fetch documents that have a certain string value in fieldName and also in value:
`.localDB.find({selector: { fieldName: {$eq: "fieldNameValue"}, value: {$eq: argValueValue}}})`

In the next step I tried to use the $in operator to select all Documents with "fieldNameValue" in

[2017-01-11 16:32] nolanlawson commented on #240
This looks like a true bug, thank you for reporting! I will try to get to this when I have a chance, otherwise a PR would be appreciated. :)

[2017-01-17 09:49] Wvhf commented on #210
Hello nolan,

Any idea when you might be able to fix this issue ?

Kind regards

[2017-01-19 18:24] NNemec opened #242 "Proposal: Computed Indices"
Though pouchdb offers user friendly access to powerful functionality, it is fundamentally limited compared to map/reduce (see https://github.com/nolanlawson/pouchdb-find/issues/21#issuecomment-91207774). Even with adding more and more features to the selector, this will still leave the computational load in the find routine rather than shifting it into the indexing where it could be performed once

[2017-01-20 02:11] nolanlawson commented on #242
I think your analysis is fairly correct but the goal of `pouchdb-find` is to just copy exactly what the Cloudant/CouchDB Mango query language provides. For computed indexes I think the stance of Cloudant/CouchDB folks is that precomputed fields should be added directly to the document so that you can then index them directly. I agree it's not a perfect solution, though.

For all other cases map/re

[2017-01-20 07:08] NNemec commented on #242
Pre-computed fields are not an alternative to a powerful indexing mechanism. They do not offer any internal consistency guarantee, which is one of essential features of a database system.

From the pouchdb-find intro page, it sounds like map/reduce is kept only for legacy reasons but considered deprecated. Without a more powerful indexing mechanism, I would rather call pouch-find the comfortable e

[2017-01-20 07:28] garrensmith commented on #242
Hi @NNemec, the best way to bring up this idea is on the [CouchDB dev mailing list](http://couchdb.apache.org/) - scroll down to the mailing list section.

Your proposal feels a lot like just using Map/Reduce. But I do agree PouchDB-Find/Mango is a bit limited at the moment. We do need to add more functionality. The best way to do that is through the CouchDB mailing list.

I'm going to close this

[2017-01-20 07:28] #242 closed

[2017-01-20 09:37] Chozzle opened #243 "This query is extremely slow on mobile, ~10 seconds"
Should I expect this length of time? I have a database of about 1000 words. I'm not getting any warnings about missing indexes, I think they are correct. I'm using the cordova-sqlite adapter as I'm using a pre-built database.
var mSelector = {
            type: 'word',
            inWordLists: {
              $in: [wordListId]
            },
            _id: {
              $nin: reviewCardsIds

[2017-01-21 02:47] Chozzle commented on #243
So I removed the cordova-sqlite adapter option and it now takes approximately 0.1 seconds. Thats an insane difference.

[2017-01-21 06:56] garrensmith commented on #243
Thanks, that is interesting. 

All misspelling thanks to my iPhone.

On Sat, Jan 21, 2017 at 4:47 AM +0200, "Chozzle" <notifications@github.com> wrote:

So I removed the cordova-sqlite adapter option and it now takes approximately 0.1 seconds. Thats an insane difference.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute th

[2017-01-21 13:36] garrensmith commented on #240
@t-knapp I have managed to reproduce the error. I will try and fix it as soon as possible.

The fix for now is to make the index like this `localDB.createIndex({index: {fields: ['fieldName']}})`

[2017-01-21 13:39] garrensmith commented on #210
Unfortunately CouchDB Mango doesn't support `total_rows` or `offset`. Ideally with pouchdb-find we aim to copy CouchDB Mango functionality. So we won't support it until its in CouchDB Mango. You are welcome to send a mail to the dev mailing list on CouchDB to discuss it.

[2017-01-21 13:39] #210 closed

[2017-01-21 13:41] garrensmith commented on #243
Have you tried using this adapter https://github.com/nolanlawson/cordova-plugin-sqlite-2.
I'm closing this issue since it is not related to pouchdb-find.

[2017-01-21 13:41] #243 closed

[2017-01-22 12:22] garrensmith commented on #227
There is also a Mango issue related to this as well https://issues.apache.org/jira/browse/COUCHDB-3275

[2017-01-22 12:23] garrensmith commented on #227
I can reproduce this issue. I will look to fix soon.

[2017-01-24 04:47] NNemec opened #244 "$exists should work with index"
I was surprised to find that $exists does not work with indices.

For a field that is available only on a small set of documents, using an index to finding these documents quickly makes perfect sense.

Technically, this should not be a problem, since e.g. {$gte: ""} would do the same job for string fields.

[2017-01-24 07:47] garrensmith commented on #244
There is an open ticket in Mango for this https://issues.apache.org/jira/browse/COUCHDB-2926

[2017-01-24 07:54] NNemec commented on #244
Just realized now: Though $exists:true could be handled by index, a $exists:false does not work like this. Not sure whether this would be argument against this.

[2017-01-24 12:02] Chozzle commented on #243
Yes that is the adapter I'm using. I followed Nolan's guide on prebuilt pouchdb in Cordova. Actually I've noticed that using no index at all is even faster. It's down to a solid 0.1 seconds now, even though it gives me the warning.

[2017-01-24 13:40] garrensmith commented on #243
Yes that probably makes sense. Using the _all_docs index could be faster as we not actually reading from disk for the other indexes but rather doing a map-reduce in memory for the query. This will hopefully change in the future.

On 24 Jan 2017, 2:02 PM +0200, Chozzle <notifications@github.com>, wrote:

[2017-01-24 19:39] NNemec commented on #242
After an encouragement from the mailing list, I just created https://issues.apache.org/jira/browse/COUCHDB-3280

[2017-01-30 09:55] t-knapp commented on #240
It was possible to modify the logic of filtering in that use-case. I fetch all documents with a specific value in the index field "fieldName" and do the "$in" operation in applications js-code. It is fast enough in this case.

[2017-02-01 13:40] garrensmith commented on #238
It is something we thinking about. PouchDB-find follows CouchDB Mango. So it will have to be implemented there first.

[2017-02-01 13:40] #238 closed

[2017-02-01 13:41] #236 closed

[2017-02-01 13:42] garrensmith commented on #232
I'm closing this since its not an issue but a feature request. If you would like this feature the best approach is to send a mail to the CouchDB mailing list.

[2017-02-01 13:42] #232 closed

[2017-02-02 07:21] garrensmith commented on #240
This should be fixed in the latest release. Could you verify for me and open this ticket again if it is not.

[2017-02-02 07:21] #240 closed

[2017-02-02 07:22] garrensmith commented on #207
I'm closing this ticket

[2017-02-02 07:22] #207 closed

[2017-02-02 07:23] garrensmith commented on #227
This should be fixed in the latest release. Could you verify for me and open this ticket again if it is not.

[2017-02-02 07:23] #227 closed

[2017-02-02 15:54] lgodard opened #247 "find/filter in allDocs result"
Hi,
First thanks a lot for all pouchDB
after some successfull use, i go deeper regarding performances and faces some problem on filtering

I built my base as recommanded regarding IDs
(Use and abuse your doc IDs https://pouchdb.com/2014/05/01/secondary-indexes-have-landed-in-pouchdb.html)
--> a great advice as it is fast querying and covers most of my cases

But, sometime, i need to filter these r

[2017-02-02 16:41] BigBlueHat opened #248 "Dealing with different shapes"
I'm attempting to use pouchdb-find in my [page-notes](http://github.com/bigbluehat/page-notes) project. I can't (afaik) use Map/Reduce due to it's use of `eval()` and/or `new Function()`. However, I'm mostly getting "misses" when indexing the ever flexible world of JSON-LD documents.

Page Notes uses Web Annotation Data Model documents--which are JSON-LD documents (typically). The specific situati

[2017-02-02 17:05] nolanlawson commented on #247
If I were you I would maybe use `find()` to find all docs of a certain type, and then filter in-memory.

The best way to think of this is to imagine which ordering (type then id vs id then type) will result in the smallest possible slice of your database, and then use that ordering. You could also do:

[code]

and let pouchdb-find do the rest. But I admit I'm not sure which index it will use; you'

[2017-02-02 17:08] nolanlawson commented on #248
Unfortunately if you need to do transformations on your documents before inserting into the index, then you will need to use map/reduce (and eval()) rather than pouchdb-find.

There was a proposal recently on the mailing list for "computed indexes" in Mango; would this cover your use case? https://mail-archives.apache.org/mod_mbox/couchdb-dev/201701.mbox/browser

[2017-02-02 18:58] BigBlueHat commented on #248
Thanks @nolanlawson! Looks like there's a related issue now: https://issues.apache.org/jira/browse/COUCHDB-3280

However, I'm not sure that would address it. It's mostly a case of the limitations of the `fields` property values when creating indexes (as well as how the resulting indexes work.

For instance, right now I'm just indexing `target`: https://github.com/BigBlueHat/page-notes/blob/master/

[2017-02-03 09:22] lgodard commented on #247
Hi Nolan,

thanks a lot for your response.

You perfectly spotted the main problem requiring the smallest possible slice after first filtering. I'm actually calculating this in many of my uses cases. Results seems to be 'it depends' :-). Thanks a lot for focusing on this metric

Btw, some questions

- is there any overhead estimation querying a secondary index versus the primary on `_id`

- idea r